$branco:#fff;
$preto:#111111;
$vermelho:#f00;
$cinza-claro:#eee;
$azuel-escuro:#025;
$cinza:rgb(87,87,87);
$pretoTrans:#0000009c;
$superPretoTrans:#0000008e;
$brancoTrans:#ffffff61;
$azul-t-chert:#083b6d;
