$branco:#fff;
$preto:#111111;
$vermelho:#f00;
$vermelhoTrans:rgba(219, 21, 21, 0.927);
$cinza-claro:#eee;
$botao-menu-hamburque:#eeeeeebd;
$azuel-escuro:#025;
$cinza:rgb(87,87,87);
$pretoTrans:#000000b5;
$pretoNav:#060606f5;
$superPretoTrans:#0000008e;
$brancoTrans:#ffffff61;
$azul-t-chert:#083b6d;
