// Inicio da section header
#header {
    width: 100%;
    display:block;
    height: 750px;
    overflow: hidden;
    padding: 0 !important;
    position: relative;

    // Aqui esta a formatação da opacidade das descrições e dos botões das descrições
    #opac {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $pretoTrans;
        position: absolute;
        padding: 0 10%;
        height: 100%;
        width: 100%;

        #descricao {

            h2 {
                color: $branco;
                text-align: center;
                font-size: calc(50px + 1vw);
            }

            p {
                padding: 50px 50px;
                text-align: center;
                font-size: calc(12px + 1vw);
                background: linear-gradient(65deg, $branco, $cinza, $cinza-claro, $branco);
                background-size: 400% 100%;

                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            #botao {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;

                .button {
                    border: 1px solid $preto;
                    padding: 15px 20px;
                    border-radius: 5px;
                    cursor: pointer;

                    a {
                        text-decoration: none;
                        font-size: 20px;
                        color: $preto;
                    }

                    &:nth-of-type(1) {
                        background-color: $azul-t-chert;

                        a {
                            color: #fff;
                        }
                    }
                }

            }
        }
    }

    input{
        display: none;
    }
    // Aqui esta a formatação das imagenSlide
   
    .slideHeader{
        display: flex;
        height: 100%;
        width: 400%;
    }
    .imge-slide {
            transition: 1s;
            height: 100%;
            width: 25%;
            img {
                height: 100%;
                width: 100%;
            }
        }

    #radio4:checked~.slideHeader .primeiro {
        margin-left: 0%;
    }

    #radio5:checked~.slideHeader .primeiro {
        margin-left: -25%;
    }

    #radio6:checked~.slideHeader .primeiro {
        margin-left: -50%;
    }
}

@media screen and (max-width:1500px) {
    #header {
        width: 100%;

        #opac {
            width: 100%;
            padding: 0 5%;
        }
    }
}

@media screen and (max-width:1250px) {
    #header {
        height: 650px !important;
    }
}

@media screen and (max-width:1050px) {
    #header {
        #opac {
            padding: 0 2%;
        }
    }
}

@media screen and (max-width:700px) {
    #header {
        #opac {
            p {
                padding: 50px 10px !important;
            }
        }
    }
}

@media screen and (max-width:700px) {
    #header {
        #opac {
            #descricao {
                h2 {
                    font-size: calc(40px + 1vw);
                }
            }
        }

    }
}