// formatação do mixin para posicionamento
@mixin formatacao() {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// Inicio da formação do logo
#logo h1 {
    color: $branco;
    user-select: none;
    font-size: calc(15px + 1vw);
}

// Fim da formação do logo


    // Inicio da formação dos Elementos da nav
    #navbar {
        @include formatacao();
        z-index: 1;
        width: 100%;
        height: 100px;
        padding: 0 10%;
        position: fixed;
        background-color: $pretoNav;

        #hamburgue {
            display: none
        }     
    }

    @media screen and (max-width:1500px){
        #navbar {
            padding: 0 5%;
        }
    }
    @media screen and (min-width:1050.1px){
        #menu {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 5px;
            gap: 60px;

            // Inicio da formatação do menu-itens
            #menu-itens {
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .5s all;
                list-style: none;
                gap: 30px;
                
                li { 
                a {
                    color: $branco;
                    text-decoration: none;
                    font-size: calc(10px + 1vw);
                }
                    &:hover {
                        cursor: pointer;
                        transition: .5s all;
                        padding-bottom: 8px;
                        border-bottom: 2px solid $branco;
                    }
                }

            }

            // Inicio da formatação do item contato
            #contato {
                list-style: none;
                padding: 10px 15px;
                border-radius: 5px;
                background-color: $cinza;
                border: 1px solid $preto;
                transition: .5s all;

                & li a {
                    color: $branco;
                    text-decoration: none;
                    font-size: calc(10px + 1vw);
                }

                &:hover {
                    cursor: pointer;
                    transition: .5s all;
                    background-color: $branco;
                    box-shadow: 2px 2px 8px $brancoTrans;

                    & li a {
                        color: $preto;
                    }
                }
            }
        }

    }
// Inicio da formação dos Elementos da nav
    @media screen and (max-width:1050px) {

    #navbar {
        padding: 0 2%;
        #hamburgue {
            transition: .5s all;
            padding: 8px 5px;
            cursor: pointer;
            display: block;
            height: 70px;
            width: 70px;

            .linha {
                width: 100%;
                height: 5px;
                display: block;
                margin: 10px auto;
                background: #ccc;
                transition: .5s all;
                transform-origin: center;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

        }

        .activou .linha:nth-of-type(1) {
            transform: rotate(-35deg) translateY(10px) translateX(-7px);
        }

        .activou .linha:nth-of-type(2) {
            width: 0% !important;
            border-color: transparent !important;
            background: transparent !important;
        }

        .activou .linha:nth-of-type(3) {
            transform: rotate(37deg) translateY(-15px) translateX(-10px);
        }

        #menu {
            background-color: $pretoTrans;
            transition: .5s all;
            position: absolute;
            margin-top: 20px;
            display: block;
            height: auto;
            width: 100%;
            right: -200%;

            #menu-itens {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                gap: 10px;

                li {
                    list-style: none;
                    cursor: pointer;
                    color: $branco;
                    padding: 20px 0;
                    width: 100%;

                    &:hover {
                        background-color: $botao-menu-hamburque;

                        a {
                            padding: 20px 42%;
                            color: $preto;
                        }
                    }

                    a {
                        color: $branco;
                        font-size: calc(25px + 1vw);
                        text-decoration: none;
                    }

                }
            }

            #contato {
                text-align: center;
                margin: 10px auto auto auto;
                width: 100%;

                li {
                    width: 100%;
                    padding: 20px;
                    cursor: pointer;
                    list-style: none;
                    background-color: $vermelhoTrans ;
                    border-top: 3px solid $branco;

                    a {
                        color: $branco;
                        text-decoration: none;
                        font-size: calc(25px + 1vw);
                    }

                    &:hover {
                        background-color: $vermelho;
                        a {
                            width: 100%;
                            padding: 20px 35%; 
                        }
                    }
                }
            }
        }

        .activeMenu {
            right: 0% !important;
            transition: .5s all;
        }

    }
    }
    @media screen and (max-width:800px){
        #navbar {
            padding: 0 2%;
            #hamburgue {
                transition: .5s all;
                height: 65px;
                width: 65px;    
            }
        }
    }

// 1280
// 1024