//   Inicio da formatação dos serviços
#servicos {
    height: 780px;
    margin-top: 30px;
    position: relative;
    width: 100%;

    h2 {
        font-size: calc(14px + 1vw);
        text-transform: uppercase;
        color: $azuel-escuro;
        margin-bottom: 20px;
        text-align: center;
    }

    #hr {
        hr {
            margin: 0 auto;
            padding: 2px;
            width: 150px;
            margin-bottom: 40px;
            background-color: $azuel-escuro;
        }
    }

    #p {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 20px;
        font-size: calc(10px + 1vw);
        padding: 0 10%;
        color: $cinza;
    }


    // Inicio da formatação do modal da section serviços
    .modal {
        display: none;
    }

    .modal.active {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $pretoTrans;
        position: absolute;
        padding: 40px 0;
        cursor: pointer;
        height: 750px;
        width: 100%;
        top: -20px;
        z-index: 1;

        #modal {
            background-color: $branco;
            width: min(80%, 70%);
            overflow: scroll;
            cursor: pointer;
            padding: 10px;
            height: 100%;

            h3 {
                margin: 40px auto;
                font-size: 28px;
                color: $cinza;
            }

            p {
                text-align: justify;
                font-size: 20px;
                color: $cinza;
            }

            #obs {
                text-align: justify;
                font-size: 20px;
                color: $cinza;
            }

            #bodyServico {
                border: 2px solid $cinza;
                width: 100%;
                height: auto;

                .detalheModal {
                    padding: 5px 10px;

                    h3 {
                        margin: 10px auto;
                        font-size: 25px;
                        color: $cinza;
                    }

                    p {
                        text-align: justify;
                        font-size: 20px;
                        color: $cinza;
                    }
                }

                #euQuero {
                    padding: 10px 20px;
                    background-color: $cinza;
                    border: 1px solid $cinza-claro;
                    border-radius: 5px;
                    margin-left: 10px;
                    margin-top: 30px;
                    cursor: pointer;
                    font-size: 19px;
                    color: $branco;

                    &:hover {
                        background-color: $branco;
                        border-color: $cinza;
                        color: $preto;
                    }
                }
            }
        }
    }

    .modal2 {
        display: none;
    }

    .modal2.active {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $pretoTrans;
        position: absolute;
        padding: 40px 0;
        cursor: pointer;
        height: 750px;
        width: 100%;
        top: -20px;
        z-index: 1;

        #modal2 {
            background-color: $branco;
            width: min(80%, 70%);
            overflow: scroll;
            cursor: pointer;
            padding: 10px;
            height: 100%;

            h3 {
                margin: 40px auto;
                font-size: 28px;
                color: $cinza;
            }

            p {
                text-align: justify;
                font-size: 20px;
                color: $cinza;
            }

            #obs {
                text-align: justify;
                font-size: 20px;
                color: $cinza;
            }

            #bodyServico {
                border: 2px solid $cinza;
                width: 100%;
                height: auto;

                .detalheModal {
                    padding: 5px 10px;

                    h3 {
                        margin: 10px auto;
                        font-size: 25px;
                        color: $cinza;
                    }

                    p {
                        text-align: justify;
                        font-size: 20px;
                        color: $cinza;
                    }

                }

                #euQuero2 {
                    padding: 10px 20px;
                    background-color: $cinza;
                    border: 1px solid $cinza-claro;
                    border-radius: 5px;
                    margin-left: 10px;
                    margin-top: 27px;
                    cursor: pointer;
                    font-size: 19px;
                    color: $branco;

                    &:hover {
                        background-color: $branco;
                        border-color: $cinza;
                        color: $preto;
                    }
                }
            }
        }
    }

    .modal3 {
        display: none;
    }

    .modal3.active {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $pretoTrans;
        position: absolute;
        padding: 40px 0;
        cursor: pointer;
        height: 750px;
        width: 100%;
        top: -20px;
        z-index: 1;

        #modal3 {
            background-color: $branco;
            width: min(80%, 70%);
            overflow: scroll;
            cursor: pointer;
            padding: 10px;
            height: 100%;

            h3 {
                margin: 40px auto;
                font-size: 28px;
                color: $cinza;
            }

            p {
                text-align: justify;
                font-size: 20px;
                color: $cinza;
            }

            #obs {
                text-align: justify;
                font-size: 20px;
                color: $cinza;
            }

            #bodyServico {
                border: 2px solid $cinza;
                width: 100%;
                height: auto;

                .detalheModal {
                    padding: 5px 10px;

                    h3 {
                        margin: 10px auto;
                        font-size: 25px;
                        color: $cinza;
                    }

                    p {
                        text-align: justify;
                        font-size: 20px;
                        color: $cinza;
                    }
                }

                #euQuero3 {
                    padding: 10px 20px;
                    background-color: $cinza;
                    border: 1px solid $cinza-claro;
                    border-radius: 5px;
                    margin-left: 10px;
                    margin-top: 45px;
                    cursor: pointer;
                    font-size: 19px;
                    color: $branco;

                    &:hover {
                        background-color: $branco;
                        border-color: $cinza;
                        color: $preto;
                    }
                }
            }
        }
    }

    // Aqui vai a formatação dos cards da section sobre
    #cards {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10%;
        margin: 20px 0;
        height: 580px;
        width: 100%;
        gap: 20px;

        .card {
            width: 420px;
            height: 100%;
            background-color: $cinza-claro;

            #descricao {
                padding: 10px;

                h3 {
                    left: 0;
                    margin: 20px 0;
                    font-size: calc(15px + 1vw);
                    font-weight: 900;
                }

                p {
                    text-align: justify;
                    font-size: 20px;
                    color: $cinza;
                }
            }
        }

        .card:nth-of-type(1) #img {
            width: 100%;
            height: 300px;
            background: url("../imagens/istockphoto-1325074732-612x612.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            transition: 5s all;

            &:hover {
                background: url("../imagens/istockphoto-1325074732-612x612.jpg");
                background-repeat: no-repeat;
                background-position: center;
                transition: 5s all;
                cursor: pointer;
            }

        }

        .card:nth-of-type(1) #spread {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $azul-t-chert;
            border: 1px solid $preto;
            transform-origin: center;
            border-radius: 100px;
            padding-bottom: 13px;
            transition: .5s all;
            margin-right: 10px;
            margin-top: -20px;
            font-size: 30px;
            color: $branco;
            float: right;
            z-index: 5;

            &:hover {
                background: linear-gradient(-45deg, $azuel-escuro, $branco, $cinza);
                transform: rotate(150deg);
                color: $azuel-escuro;
                padding-bottom: 19px;
                transition: .5s all;
                cursor: pointer;
            }
        }

        .card:nth-of-type(2) #img {
            width: 100%;
            height: 300px;
            background: url("../imagens/istockphoto-1394297245-612x612.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            transition: 5s all;

            &:hover {
                background: url("../imagens/istockphoto-1305224036-612x612.jpg");
                background-repeat: no-repeat;
                background-position: center;
                transition: 5s all;
                cursor: pointer;
            }

        }

        .card:nth-of-type(2) #spread2 {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $azul-t-chert;
            border: 1px solid $preto;
            transform-origin: center;
            border-radius: 100px;
            padding-bottom: 13px;
            transition: .5s all;
            margin-right: 10px;
            margin-top: -20px;
            font-size: 30px;
            color: $branco;
            float: right;
            z-index: 5;

            &:hover {
                background: linear-gradient(-45deg, $azuel-escuro, $branco, $cinza);
                transform: rotate(150deg);
                color: $azuel-escuro;
                padding-bottom: 19px;
                transition: .5s all;
                cursor: pointer;
            }
        }

        .card:nth-of-type(3) #img {
            width: 100%;
            height: 300px;
            background: url("../imagens/istockphoto-1345532280-612x612.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            transition: 5s all;

            &:hover {
                background: url("../imagens/istockphoto-1325074732-612x612.jpg");
                background-repeat: no-repeat;
                background-position: center;
                transition: 5s all;
                cursor: pointer;
            }

        }

        .card:nth-of-type(3) #spread3 {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $azul-t-chert;
            border: 1px solid $preto;
            transform-origin: center;
            border-radius: 100px;
            padding-bottom: 13px;
            transition: .5s all;
            margin-right: 10px;
            margin-top: -20px;
            font-size: 30px;
            color: $branco;
            float: right;
            z-index: 5;

            &:hover {
                background: linear-gradient(-45deg, $azuel-escuro, $branco, $cinza);
                transform: rotate(150deg);
                color: $azuel-escuro;
                padding-bottom: 19px;
                transition: .5s all;
                cursor: pointer;
            }
        }

    }
}

@media screen and (max-width:1500px) {
    #servicos {
        width: 100%;
        #p{
            padding: 0 5%;
        }
        #cards{
            width: 100%;
            padding: 0 5%;
        }
    }
}

@media screen and (max-width:1100px) {
    #servicos {
        width: 100%;
        #cards {
            width: 100%;
            .card {
                width: 329.5px;
                height: 100%;
                background-color: $cinza-claro;
            }       
         }

    }
}

@media screen and (max-width:770px) {
    #servicos {
        width: 100%;
        #p{
            padding: 0 2%;
        }
        #cards{
            width: 100%;
            padding: 0 2%;
        }
    }
}