//   Inicio da formatação dos serviços
#servicos {
    height: 700px;
    margin-top: 30px;
    position: relative;
    h2 {
        font-size: calc(14px + 1vw);
        text-transform: uppercase;
        color: $azuel-escuro;
        margin-bottom: 20px;
        text-align: center;
    }

    #hr {
        hr {
            margin: 0 auto;
            padding: 2px;
            width: 150px; 
            margin-bottom: 40px;
            background-color: $azuel-escuro;
        }
    }

    #p {
        margin-top:40px; 
        margin-bottom: 70px;
        font-weight: 500;
        text-align: center;
        font-size: calc(5px + 1vw);
    }

    // Inicio da formatação do modal da section serviços
            .modal {
                display: none;
            }
         .modal.active{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color:$pretoTrans;
                position: absolute;
                cursor: pointer;
                height: 700px;
                width: 100%;
                top: -20px;
                z-index: 2;
                #modal{
                    background-color: $branco;
                    cursor: pointer;
                    height: 100%;
                    width: 50%;
                }
            }
            .modal2 {
                display: none;
            }
         .modal2.active{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color:$pretoTrans;
                position: absolute;
                cursor: pointer;
                height: 700px;
                width: 100%;
                top: -20px;
                z-index: 2;
                #modal2{
                    background-color: $branco;
                    cursor: pointer;
                    height: 100%;
                    width: 50%;
                }
            }
            .modal3 {
                display: none;
            }
         .modal3.active{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color:$pretoTrans;
                position: absolute;
                cursor: pointer;
                height: 700px;
                width: 100%;
                top: -20px;
                z-index: 2;
                #modal3{
                    background-color: $branco;
                    cursor: pointer;
                    height: 100%;
                    width: 50%;
                }
            }
    // Aqui vai a formatação dos cards da section sobre
    #cards {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
        height: 400px;
        width: 100%;
        gap: 20px;

        .card {
            width: 420px;
            height: 500px;
            // position: relative;
            background-color: $cinza-claro;
        }

        .card:nth-of-type(1) #img {
            width: 100%;
            height: 300px;
            background: url("../imagens/istockphoto-1325074732-612x612.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            transition: 5s all;
            
            &:hover{
                background: url("../imagens/istockphoto-1325074732-612x612.jpg");
                background-repeat: no-repeat;
                background-position: center;
                transition: 5s all;
                cursor: pointer;
            }
          
        }

        .card:nth-of-type(1) #spread {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $azul-t-chert;
            border: 1px solid $preto;
            transform-origin: center;
            border-radius: 100px;
            padding-bottom:13px;
            transition: .5s all;
            margin-right: 10px;
            margin-top:-20px;
            font-size: 30px;
            color: $branco;
            float: right;
            z-index: 5;
            
            &:hover {
                background: linear-gradient(-45deg, $azuel-escuro,$branco,$cinza);
                transform:rotate(150deg);
                color: $azuel-escuro;
                padding-bottom:19px;
                transition: .5s all;
                cursor: pointer;
            }
        }

        .card:nth-of-type(1) #descricao {
            padding: 10px;

            h3 {
                left: 0;
                margin: 20px 0;
                font-size: calc(15px + 1vw);
                font-weight: 900;
            }

            p {
                text-align: justify;
            }
        }

        .card:nth-of-type(2) #img {
            width: 100%;
            height: 300px;
            background: url("../imagens/istockphoto-1394297245-612x612.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            transition: 5s all;
            
            &:hover{
                background: url("../imagens/istockphoto-1305224036-612x612.jpg");
                background-repeat: no-repeat;
                background-position: center;
                transition: 5s all;
                cursor: pointer;
            }
          
        }
        .card:nth-of-type(2) #spread2 {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $azul-t-chert;
            border: 1px solid $preto;
            transform-origin: center;
            border-radius: 100px;
            padding-bottom:13px;
            transition: .5s all;
            margin-right: 10px;
            margin-top:-20px;
            font-size: 30px;
            color: $branco;
            float: right;
            z-index: 5;
            
            &:hover {
                background: linear-gradient(-45deg, $azuel-escuro,$branco,$cinza);
                transform:rotate(150deg);
                color: $azuel-escuro;
                padding-bottom:19px;
                transition: .5s all;
                cursor: pointer;
            }
        }
        .card:nth-of-type(2) #descricao {
            padding: 10px;

            h3 {
                left: 0;
                margin: 20px 0;
                font-size: calc(15px + 1vw);
                font-weight: 900;
            }

            p {
                text-align: justify;
            }
        }

        .card:nth-of-type(3) #img {
            width: 100%;
            height: 300px;
            background: url("../imagens/istockphoto-1345532280-612x612.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            transition: 5s all;
            
            &:hover{
                background: url("../imagens/istockphoto-1325074732-612x612.jpg");
                background-repeat: no-repeat;
                background-position: center;
                transition: 5s all;
                cursor: pointer;
            }
          
        }
        .card:nth-of-type(3) #spread3 {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $azul-t-chert;
            border: 1px solid $preto;
            transform-origin: center;
            border-radius: 100px;
            padding-bottom:13px;
            transition: .5s all;
            margin-right: 10px;
            margin-top:-20px;
            font-size: 30px;
            color: $branco;
            float: right;
            z-index: 5;
            
            &:hover {
                background: linear-gradient(-45deg, $azuel-escuro,$branco,$cinza);
                transform:rotate(150deg);
                color: $azuel-escuro;
                padding-bottom:19px;
                transition: .5s all;
                cursor: pointer;
            }
        }
        .card:nth-of-type(3) #descricao {
            padding: 10px;

            h3 {
                left: 0;
                margin: 20px 0;
                font-size: calc(15px + 1vw);
                font-weight: 900;
            }

            p {
                text-align: justify;
            }
        }

    }
}