//   Inicio da formatação dos serviços
#servicos {
    height: 660px;
    margin-top: 5px;
    width: 100%;

    h2 {
        font-size: calc(14px + 1vw);
        text-transform: uppercase;
        color: $azuel-escuro;
        margin-bottom: 10px;
        text-align: center;
    }

    #hr {
        hr {
            padding: 2px;
            width: 150px;
            margin: 0 auto;
            background-color: $azuel-escuro;
        }
    }

    #p {
        margin-top: 25px;
        text-align: center;
        margin-bottom: 20px;
        font-size: calc(8px + 1vw);
        padding: 0 10%;
        color: $cinza;
    }


    // Inicio da formatação do modal da section serviços
    .modal {
        display: none;
    }

    .modal.active {
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        background-color: $pretoTrans;
        padding: 20px 0 20px 0;
        cursor: pointer;
        height: 100vh;
        width: 100%;
        top: 2px;
        z-index: 1;

        .modal-header {
            background-color: $branco;
            width: min(80%, 70%);
            overflow: scroll;
            cursor: pointer;
            padding: 10px;
            height: 100%;

            h3 {
                margin: 40px auto;
                font-size: 25px;
                color: $cinza;
            }

            p {
                text-align: justify;
                font-size: 18px;
                color: $cinza;
            }

            #obs {
                text-align: justify;
                font-size: 25px;
                color: $cinza;
            }

            .bodyServico {
                border: 2px solid $cinza;
                width: 100%;
                height: auto;

                .detalheModal {
                    padding: 5px 10px;

                    h3 {
                        margin: 10px auto;
                        font-size: 25px;
                        color: $cinza;
                    }

                    p {
                        text-align: justify;
                        font-size: 18px;
                        color: $cinza;
                    }
                }

                .EuQuero {
                    padding: 10px 20px;
                    background-color: $cinza;
                    border: 1px solid $cinza-claro;
                    border-radius: 5px;
                    margin-left: 10px;
                    margin-top: 30px;
                    cursor: pointer;
                    font-size: 19px;
                    color: $branco;

                    &:hover {
                        background-color: $branco;
                        border-color: $cinza;
                        color: $preto;
                    }
                }
            }
        }
    }

    .modal2 {
        display: none;
    }

    .modal2.active {
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        background-color: $pretoTrans;
        padding: 20px 0 20px 0;
        cursor: pointer;
        height: 100vh;
        width: 100%;
        top: 2px;
        z-index: 1;

        #modal2 {
            background-color: $branco;
            width: min(80%, 70%);
            overflow: scroll;
            cursor: pointer;
            padding: 10px;
            height: 100%;

            h3 {
                margin: 40px auto;
                font-size: 25px;
                color: $cinza;
            }

            p {
                text-align: justify;
                font-size: 18px;
                color: $cinza;
            }

            #obs {
                text-align: justify;
                font-size: 25px;
                color: $cinza;
            }

            #bodyServico {
                border: 2px solid $cinza;
                width: 100%;
                height: auto;

                .detalheModal {
                    padding: 5px 10px;

                    h3 {
                        margin: 10px auto;
                        font-size: 25px;
                        color: $cinza;
                    }

                    p {
                        text-align: justify;
                        font-size: 18px;
                        color: $cinza;
                    }

                }

                #euQuero2 {
                    padding: 10px 20px;
                    background-color: $cinza;
                    border: 1px solid $cinza-claro;
                    border-radius: 5px;
                    margin-left: 10px;
                    margin-top: 27px;
                    cursor: pointer;
                    font-size: 19px;
                    color: $branco;

                    &:hover {
                        background-color: $branco;
                        border-color: $cinza;
                        color: $preto;
                    }
                }
            }
        }
    }

    .modal3 {
        display: none;
    }

    .modal3.active {
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        background-color: $pretoTrans;
        padding: 20px 0 20px 0;
        cursor: pointer;
        height: 100vh;
        width: 100%;
        top: 2px;
        z-index: 1;

        #modal3 {
            background-color: $branco;
            width: min(80%, 70%);
            overflow: scroll;
            cursor: pointer;
            padding: 10px;
            height: 100%;

            h3 {
                margin: 40px auto;
                font-size: 25px;
                color: $cinza;
            }

            p {
                text-align: justify;
                font-size: 18px;
                color: $cinza;
            }

            #obs {
                text-align: justify;
                font-size: 25px;
                color: $cinza;
            }

            #bodyServico {
                border: 2px solid $cinza;
                width: 100%;
                height: auto;

                .detalheModal {
                    padding: 5px 10px;

                    h3 {
                        margin: 10px auto;
                        font-size: 25px;
                        color: $cinza;
                    }

                    p {
                        text-align: justify;
                        font-size: 18px;
                        color: $cinza;
                    }
                }

                #euQuero3 {
                    padding: 10px 20px;
                    background-color: $cinza;
                    border: 1px solid $cinza-claro;
                    border-radius: 5px;
                    margin-left: 10px;
                    margin-top: 45px;
                    cursor: pointer;
                    font-size: 19px;
                    color: $branco;

                    &:hover {
                        background-color: $branco;
                        border-color: $cinza;
                        color: $preto;
                    }
                }
            }
        }
    }

    // Aqui vai a formatação dos cards da section sobre
    #cards {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10%;
        margin: 20px 0;
        height: 400px;
        width: 100%;
        gap: 20px;

        .slide {
            display: none;
        }

        .card {
            width: 420px;
            height: 100%;
            background-color: $cinza-claro;

            #descricao {
                padding: 10px;

                h3 {
                    left: 0;
                    margin: 20px 0;
                    font-size: calc(15px + 1vw);
                    color: $cinza;
                    font-weight: 900;
                }

                p {
                    text-align: justify;
                    font-size: 20px;
                    color: $cinza;
                }
            }
        }

        .card:nth-of-type(1) #img {
            width: 100%;
            height: 200px;
            background: url("../imagens/istockphoto-1325074732-612x612.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            transition: 5s all;

            &:hover {
                background: url("../imagens/istockphoto-1325074732-612x612.jpg");
                background-repeat: no-repeat;
                background-position: center;
                transition: 5s all;
                cursor: pointer;
            }

        }

        .card:nth-of-type(1) .spread {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $azul-t-chert;
            border: 1px solid $preto;
            transform-origin: center;
            border-radius: 100px;
            padding-bottom: 13px;
            transition: .5s all;
            margin-right: 10px;
            margin-top: -20px;
            font-size: 30px;
            color: $branco;
            float: right;
            z-index: 5;

            &:hover {
                background: linear-gradient(-45deg, $azuel-escuro, $branco, $cinza);
                transform: rotate(150deg);
                color: $azuel-escuro;
                padding-bottom: 19px;
                transition: .5s all;
                cursor: pointer;
            }
        }

        .card:nth-of-type(2) #img {
            width: 100%;
            height: 200px;
            background: url("../imagens/istockphoto-1394297245-612x612.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            transition: 5s all;

            &:hover {
                background: url("../imagens/istockphoto-1305224036-612x612.jpg");
                background-repeat: no-repeat;
                background-position: center;
                transition: 5s all;
                cursor: pointer;
            }

        }

        .card:nth-of-type(2) #spread2 {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $azul-t-chert;
            border: 1px solid $preto;
            transform-origin: center;
            border-radius: 100px;
            padding-bottom: 13px;
            transition: .5s all;
            margin-right: 10px;
            margin-top: -20px;
            font-size: 30px;
            color: $branco;
            float: right;
            z-index: 5;

            &:hover {
                background: linear-gradient(-45deg, $azuel-escuro, $branco, $cinza);
                transform: rotate(150deg);
                color: $azuel-escuro;
                padding-bottom: 19px;
                transition: .5s all;
                cursor: pointer;
            }
        }

        .card:nth-of-type(3) #img {
            width: 100%;
            height: 200px;
            background: url("../imagens/istockphoto-1345532280-612x612.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            transition: 5s all;

            &:hover {
                background: url("../imagens/istockphoto-1325074732-612x612.jpg");
                background-repeat: no-repeat;
                background-position: center;
                transition: 5s all;
                cursor: pointer;
            }

        }

        .card:nth-of-type(3) #spread3 {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $azul-t-chert;
            border: 1px solid $preto;
            transform-origin: center;
            border-radius: 100px;
            padding-bottom: 13px;
            transition: .5s all;
            margin-right: 10px;
            margin-top: -20px;
            font-size: 30px;
            color: $branco;
            float: right;
            z-index: 5;

            &:hover {
                background: linear-gradient(-45deg, $azuel-escuro, $branco, $cinza);
                transform: rotate(150deg);
                color: $azuel-escuro;
                padding-bottom: 19px;
                transition: .5s all;
                cursor: pointer;
            }
        }

    }
    #slide {
        display: none;
    }

    .modal-paleta{
        display: none;
    }
    .modal-paleta.activePaleta{
        display: flex;
        position: fixed;
        justify-content: center;
        background-color: $pretoTrans;
        padding: 20px 0 20px 0;
        cursor: pointer;
        height: 99.9vh;
        width: 100%;
        top: 2px;
        z-index: 1;
        .subModal-Palete{
            text-align: start;
            height:50%;
            width: 80%;
            margin-top: 65px;
            background-color:$cinza-claro;
            box-shadow: 1px 3px 8px $cinza;
        }
    }
    .paletas{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        height: 60px;
        width: 100%;
        .paleta-precario{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 270px;
            height: 100%;
            
            .btn-paleta{
            background-color: $azul-t-chert;
            border: 1px solid $pretoTrans;
            border-radius: 5px;
            transition: .5s;
            height: 100%;
            width: 100%;
            h3{
                color: $branco;
                font-size: 20px;
            }
            &:hover{
                background: $azuel-escuro;
            }
            }
        }
    }
}

@media screen and (max-width:1500px) {
    #servicos {
        width: 100%;

        #p {
            padding: 0 5%;
        }

        #cards {
            width: 100%;
            padding: 0 5%;
        }
    }
}
@media screen and (max-width:1100px) {
    #servicos {
        width: 100%;

        #cards {
            width: 100%;

            .card {
                width: 329.5px;
                height: 100%;
                background-color: $cinza-claro;
            }
        }

    }
}
@media screen and (max-width:1050px) {
    #servicos {
        p {
            padding: 0 2%;
        }

        .modal.active {
            #modal {
                width: min(90%, 80%) !important;
            }
        }

        .modal2.active {
            #modal2 {
                width: min(90%, 80%) !important;
            }
        }

        .modal3.active {
            #modal3 {
                width: min(90%, 80%) !important;
            }
        }

        #cards {
            padding: 0 2%;

            .card {
                width: 329.5px;
            }
        }

    }
}
@media screen and (max-width:801px) {
    #servicos {
        width: 100%;

        .modal.active {
            .modal-header {
                width: min(98%, 88%) !important;
            }
        }

        .modal2.active {
            #modal2 {
                width: min(98%, 88%) !important;
            }
        }

        .modal3.active {
            #modal3 {
                width: min(98%, 88%) !important;
            }
        }
    }
}
@media screen and (max-width:835px) {
    #servicos {
        overflow: hidden;
        #cards {
            display: none;
        }
        #slide {
            display:flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 400px;
            width: 150%;
               
            input{
                display: none;
            }
            .cardslide {
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .5s;                
                height: 100%;
                width: 100%;
                gap: 20px;
           
            .card {
                width: 430px;
                height: 100%;
                background-color: $cinza-claro;
                transition: .5s all;

                .spread4, .spread5, .spread6 {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $azul-t-chert;
                    border: 1px solid $preto;
                    transform-origin: center;
                    border-radius: 100px;
                    padding-bottom: 13px;
                    margin-right: 10px;
                    margin-top: -20px;
                    font-size: 30px;
                    color: $branco;
                    float: right;
                    z-index: 5;
                }

                .descricao {
                    padding: 10px;

                    h3 {
                        left: 0;
                        margin: 20px 0;
                        font-size: calc(15px + 1vw);
                        color: $cinza;
                        font-weight: 900;
                    }

                    p {
                        text-align: justify;
                        font-size: 20px;
                        color: $cinza;
                    }
                }
            }

            .card:nth-of-type(1) #img4 {
                width: 100%;
                height: 200px;
                background: url("../imagens/istockphoto-1325074732-612x612.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                transition: 5s all;

                &:hover {
                    background: url("../imagens/istockphoto-1325074732-612x612.jpg");
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: 5s all;
                    cursor: pointer;
                }

            }

            .card:nth-of-type(2) #img5 {
                width: 100%;
                height: 200px;
                background: url("../imagens/istockphoto-1394297245-612x612.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                transition: 5s all;

                &:hover {
                    background: url("../imagens/istockphoto-1305224036-612x612.jpg");
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: 5s all;
                    cursor: pointer;
                }

            }

            .card:nth-of-type(3) #img6 {
                width: 100%;
                height: 200px;
                background: url("../imagens/istockphoto-1345532280-612x612.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                transition: 5s all;

                &:hover {
                    background: url("../imagens/istockphoto-1325074732-612x612.jpg");
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: 5s all;
                    cursor: pointer;
                }

            }
        }

        #radio1:checked ~ .cardslide .primeiro{     
            margin-left: 1%;
        }
        #radio2:checked ~ .cardslide .primeiro{
            margin-left: -430px;
        }
        #radio3:checked ~ .cardslide .primeiro{
            margin-left: -975px;
        }
        }
    }
}
@media screen and (max-width:681px) {
    #servicos {
        #slide {
            .cardslide {
                .card {
                    width: 400px;
                }
            }
        }

        #radio1:checked ~ .cardslide .primeiro{     
            margin-left: 1%;
        }
        #radio2:checked ~ .cardslide .primeiro{
            margin-left: -400px;
        }
        #radio3:checked ~ .cardslide .primeiro{
            margin-left: -930px !important;
        }
    }
}
@media screen and (max-width:581px) {
    #servicos {
        #slide {
            .cardslide {
                width: 200%;
                .card {
                    width: 450px !important;
                }
            }
        }
        #radio1:checked ~ .cardslide .primeiro{
            margin-left: 20.5% !important;
        }
        #radio2:checked ~ .cardslide .primeiro{
            margin-left: -280px !important;
        }
        #radio3:checked ~ .cardslide .primeiro{
            margin-left: -1150px !important;
        }
    }
}
@media screen and (max-width:571px) {
    #servicos {
        #radio1:checked ~ .cardslide .primeiro{
            margin-left: 21.5% !important;
        }
      
    }
}
@media screen and (max-width:551px) {   
    #servicos {
        #slide {
            .cardslide {
                width: 500% !important;
                .card:nth-of-type(1), .card:nth-of-type(3){
                    width: 523px !important;
                }
            }
            #radio1:checked ~ .cardslide .primeiro{     
                margin-left: 750px !important;
            }
            #radio2:checked ~ .cardslide .primeiro{
                margin-left: -430px;
            }
            #radio3:checked ~ .cardslide .primeiro{
                margin-left: -1280px !important;
            }
        }
    }        
}
@media screen and (max-width:529px) {
    #servicos {
        #slide {
            .cardslide {
                width: 500% !important;
                .card:nth-of-type(1), .card:nth-of-type(3) {
                    width: 485px !important;
                }
                .card:nth-of-type(2){
                    width: 490px !important;
                }
            }
            #radio1:checked ~ .cardslide .primeiro{     
                margin-left: 741px !important;
            }
            #radio2:checked ~ .cardslide .primeiro{
                margin-left: -250px !important;
            }
            #radio3:checked ~ .cardslide .primeiro{
                margin-left: -1250px !important;
            }
        }
    }        
}
@media screen and (max-width:498px) {
    #servicos {
        #slide {
            .cardslide {
                gap: 10px;
                width: 500% !important;
                .card:nth-of-type(1), .card:nth-of-type(3) {
                    width: 460px !important;        
                }
                .card:nth-of-type(2){
                    width: 460px !important;
                }
            }
            #radio1:checked ~ .cardslide .primeiro{     
                margin-left: 708px !important;
            }
            #radio2:checked ~ .cardslide .primeiro{
                margin-left: -227px !important;
            }
            #radio3:checked ~ .cardslide .primeiro{
                margin-left: -1170px !important;
            }
        }
    }        
}
@media screen and (max-width:466px) {
    #servicos {
        #slide {
            .cardslide {
                gap: 10px;
                width: 500% !important;
                .card:nth-of-type(1), .card:nth-of-type(3) {
                    width: 440px !important; 
                }
                .card:nth-of-type(2){
                    width: 440px !important;
                }
            }
            #radio1:checked ~ .cardslide .primeiro{     
                margin-left: 675px !important;
            }
            #radio2:checked ~ .cardslide .primeiro{
                margin-left: -227px !important;
            }
            #radio3:checked ~ .cardslide .primeiro{
                margin-left: -1122px !important;
            }
        }
    }        
}
@media screen and (max-width:448px) {
    #servicos {
        #slide {
            .cardslide {
                gap: 10px;
                width: 500% !important;
                .card:nth-of-type(1), .card:nth-of-type(3) {
                    width: 425px !important; 
                }
                .card:nth-of-type(2){
                    width: 425px !important;
                }
            }
            #radio1:checked ~ .cardslide .primeiro{     
                margin-left: 655px !important;
            }
            #radio2:checked ~ .cardslide .primeiro{
                margin-left: -212px !important;
            }
            #radio3:checked ~ .cardslide .primeiro{
                margin-left: -1088px !important;
            }
        }
    }        
}
@media screen and (max-width:400px) {
    #servicos {
        #slide {
            .cardslide {
                width: 500% !important;
                .card:nth-of-type(1), .card:nth-of-type(3) {
                    width: 363px !important; 
                }
                .card:nth-of-type(2){
                    width: 365.5px !important;
                }
            }
            #radio1:checked ~ .cardslide .primeiro{     
                margin-left: 557px !important;
            }
            #radio2:checked ~ .cardslide .primeiro{
                margin-left: -190px !important;
            }
            #radio3:checked ~ .cardslide .primeiro{
                margin-left: -940px !important;
            }
        }
    }        
}
@media screen and (max-width:394px) {
    #servicos {
        #slide {
            .cardslide {
                width: 500% !important;
                .card:nth-of-type(1), .card:nth-of-type(3) {
                    width: 378px !important; 
                }
                .card:nth-of-type(2){
                    width: 380.5px !important;
                }
            }
            #radio1:checked ~ .cardslide .primeiro{     
                margin-left: 578px !important;
            }
            #radio2:checked ~ .cardslide .primeiro{
                margin-left: -195px !important;
            }
            #radio3:checked ~ .cardslide .primeiro{
                margin-left: -975px !important;
            }
        }
    }        
}
@media screen and (max-width:376px) {
    #servicos {
        #slide {
            .cardslide {
                width: 500% !important;
                .card:nth-of-type(1), .card:nth-of-type(3) {
                    width: 360px !important; 
                }
                .card:nth-of-type(2){
                    width: 362.5px !important;
                }
            }
            #radio1:checked ~ .cardslide .primeiro{     
                margin-left: 555px !important;
            }
            #radio2:checked ~ .cardslide .primeiro{
                margin-left: -190px !important;
            }
            #radio3:checked ~ .cardslide .primeiro{
                margin-left: -930px !important;
            }
        }
    }        
}
// ! @media screen and (max-width:370px) {
//     #servicos {
//         #slide {
//             height: 70%;
//             .cardslide {
//                 width: 500% !important;
//                 .card:nth-of-type(1), .card:nth-of-type(3) {
//                     width: 360px !important; 
//                     background-color: #f00;
//                 }
//                 .card:nth-of-type(2){
//                     width: 362.5px !important;
//                 }
//             }
//             #radio1:checked ~ .cardslide .primeiro{     
//                 margin-left: 555px !important;
//             }
//             #radio2:checked ~ .cardslide .primeiro{
//                 margin-left: -190px !important;
//             }
//             #radio3:checked ~ .cardslide .primeiro{
//                 margin-left: -930px !important;
//             }
//         }
//     }        
// }
@media screen and (max-width:360px) {
    #servicos {
        #slide {
            .cardslide {
                width: 500% !important;
                .card:nth-of-type(1), .card:nth-of-type(3) {
                    width: 340px !important; 
                }
                .card:nth-of-type(2){
                    width: 342.5px !important;
                }
            }
            #radio1:checked ~ .cardslide .primeiro{     
                margin-left: 521px !important;
            }
            #radio2:checked ~ .cardslide .primeiro{
                margin-left: -178px !important;
            }
            #radio3:checked ~ .cardslide .primeiro{
                margin-left: -885px !important;
            }
        }
    }        
}
@media screen and (max-width:345px) {
    #servicos {
        #slide {
            .cardslide {
                width: 500% !important;
                .card:nth-of-type(1), .card:nth-of-type(3) {
                    width: 320px !important; 
                }
                .card:nth-of-type(2){
                    width: 320.5px !important;
                }
            }
            #radio1:checked ~ .cardslide .primeiro{     
                margin-left: 500px !important;
            }
            #radio2:checked ~ .cardslide .primeiro{
                margin-left: -160px !important;
            }
            #radio3:checked ~ .cardslide .primeiro{
                margin-left: -821px !important;
            }
        }
    }        
}
@media screen and (max-width:326px) and (min-width: 313px) {
    #servicos {

        #slide {
            .cardslide {
                width: 500% !important;
                .card {
                    height: 95%;
                }
                .card:nth-of-type(1), .card:nth-of-type(3) {
                    width: 308px !important; 
                }
                .card:nth-of-type(2){
                    width: 308px !important;
                }
            }
            #radio1:checked ~ .cardslide .primeiro{     
                margin-left: 475px !important;
            }
            #radio2:checked ~ .cardslide .primeiro{
                margin-left: -160px !important;
            }
            #radio3:checked ~ .cardslide .primeiro{
                margin-left: -799px !important;
            }
        }
    }        
}
@media screen and (max-width:312px) {
    #servicos {
        #slide {
            .cardslide {
                width: 500% !important;
                .card:nth-of-type(1), .card:nth-of-type(3) {
                    width: 288px !important; 
                }
                .card:nth-of-type(2){
                    width: 288px !important;
                }
            }
            #radio1:checked ~ .cardslide .primeiro{     
                margin-left: 450px !important;
            }
            #radio2:checked ~ .cardslide .primeiro{
                margin-left: -150px !important;
            }
            #radio3:checked ~ .cardslide .primeiro{
                margin-left: -741px !important;
            }
        }
    }        
}