@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 4.7em;
  font-family: poppins;
}

body {
  overflow-x: hidden !important;
}

#logo h1 {
  display: block;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: calc(15px + 1vw);
}

#navbar {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  padding: 0 10%;
  background-color: rgba(6, 6, 6, 0.9607843137);
}
#navbar #hamburgue {
  display: none;
}

@media screen and (max-width: 1500px) {
  #navbar {
    padding: 0 5%;
  }
}
@media screen and (min-width: 1050.1px) {
  #menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    gap: 60px;
  }
  #menu #menu-itens {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s all;
    list-style: none;
    gap: 30px;
  }
  #menu #menu-itens li a {
    color: #fff;
    text-decoration: none;
    font-size: calc(10px + 1vw);
  }
  #menu #menu-itens li:hover {
    cursor: pointer;
    transition: 0.5s all;
    padding-bottom: 8px;
    border-bottom: 2px solid #fff;
  }
  #menu #contato {
    list-style: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgb(87, 87, 87);
    border: 1px solid #111111;
    transition: 0.5s all;
  }
  #menu #contato li a {
    color: #fff;
    text-decoration: none;
    font-size: calc(10px + 1vw);
  }
  #menu #contato:hover {
    cursor: pointer;
    transition: 0.5s all;
    background-color: #fff;
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.3803921569);
  }
  #menu #contato:hover li a {
    color: #111111;
  }
}
@media screen and (max-width: 1050px) {
  #navbar {
    padding: 0 2%;
  }
  #navbar #hamburgue {
    transition: 0.5s all;
    padding: 8px 5px;
    cursor: pointer;
    display: block;
    height: 70px;
    width: 70px;
  }
  #navbar #hamburgue .linha {
    width: 100%;
    height: 5px;
    display: block;
    margin: 10px auto;
    background: #ccc;
    transition: 0.5s all;
    transform-origin: center;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #navbar .activou .linha:nth-of-type(1) {
    transform: rotate(-35deg) translateY(10px) translateX(-7px);
  }
  #navbar .activou .linha:nth-of-type(2) {
    width: 0% !important;
    border-color: transparent !important;
    background: transparent !important;
  }
  #navbar .activou .linha:nth-of-type(3) {
    transform: rotate(37deg) translateY(-15px) translateX(-10px);
  }
  #navbar #menu {
    background-color: rgba(0, 0, 0, 0.7098039216);
    transition: 0.5s all;
    position: absolute;
    margin-top: 20px;
    display: block;
    right: -200%;
    height: auto;
    width: 100%;
    z-index: 1;
  }
  #navbar #menu #menu-itens {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  #navbar #menu #menu-itens li {
    list-style: none;
    cursor: pointer;
    color: #fff;
    padding: 20px 0;
    width: 100%;
  }
  #navbar #menu #menu-itens li:hover {
    background-color: rgba(238, 238, 238, 0.7411764706);
  }
  #navbar #menu #menu-itens li:hover a {
    width: 100%;
    color: #111111;
    padding: 18px 350px;
  }
  #navbar #menu #menu-itens li a {
    color: #fff;
    font-size: calc(25px + 1vw);
    text-decoration: none;
  }
  #navbar #menu #contato {
    text-align: center;
    margin: 10px auto auto auto;
    width: 100%;
  }
  #navbar #menu #contato li {
    width: 100%;
    padding: 20px;
    cursor: pointer;
    list-style: none;
    background-color: #eee;
    border-top: 3px solid #fff;
  }
  #navbar #menu #contato li a {
    color: #111111;
    text-decoration: none;
    font-size: calc(25px + 1vw);
  }
  #navbar #menu #contato li:hover {
    transition: 2s all;
    background-image: linear-gradient(-45deg, rgb(87, 87, 87), #fff, #111111, #eee, rgb(87, 87, 87));
  }
  #navbar #menu #contato li:hover a {
    color: #fff;
    padding: 20px 250px;
  }
  #navbar .activeMenu {
    right: 0% !important;
    transition: 0.5s all;
  }
}
@media screen and (max-width: 801px) {
  #navbar {
    padding: 0 2%;
  }
  #navbar #hamburgue {
    transition: 0.5s all;
    height: 65px;
    width: 65px;
  }
  #navbar #menu #menu-itens li:hover a {
    padding: 18px 330px;
  }
  #navbar #menu #contato:hover a {
    color: #fff;
    padding: 18px 270px !important;
  }
}
@media screen and (max-width: 769px) {
  #navbar #menu #menu-itens li:hover a {
    padding: 18px 300px;
  }
  #navbar #menu #contato:hover a {
    padding: 18px 260px !important;
  }
}
@media screen and (max-width: 741px) {
  #navbar #menu #menu-itens li:hover a {
    padding: 18px 270px;
  }
  #navbar #menu #contato:hover a {
    padding: 18px 230px;
  }
}
@media screen and (max-width: 700px) {
  #navbar #menu #menu-itens li:hover a {
    padding: 18px 240px;
  }
  #navbar #menu #contato:hover a {
    padding: 18px 200px !important;
  }
}
@media screen and (max-width: 631px) {
  #navbar #menu #menu-itens li:hover a {
    padding: 18px 225px;
  }
  #navbar #menu #contato:hover a {
    padding: 18px 195px !important;
  }
}
@media screen and (max-width: 601px) {
  #navbar #menu #menu-itens li:hover a {
    padding: 18px 210px;
  }
  #navbar #menu #contato:hover a {
    padding: 18px 180px !important;
  }
}
@media screen and (max-width: 551px) {
  #navbar #menu #menu-itens li:hover a {
    padding: 18px 190px;
  }
  #navbar #menu #contato:hover a {
    padding: 18px 165px;
  }
}
@media screen and (max-width: 541px) {
  #navbar #menu #contato:hover a {
    padding: 18px 145px !important;
  }
}
@media screen and (max-width: 501px) {
  #navbar #menu #menu-itens li:hover a {
    padding: 18px 160px;
  }
  #navbar #menu #contato:hover a {
    padding: 18px 125px !important;
  }
}
@media screen and (max-width: 451px) {
  #navbar #menu #menu-itens li:hover a {
    padding: 18px 140px;
  }
  #navbar #menu #contato:hover a {
    padding: 18px 115px !important;
  }
}
@media screen and (max-width: 431px) {
  #navbar #menu #menu-itens li:hover a {
    padding: 18px 125px;
  }
  #navbar #menu #contato:hover a {
    padding: 18px 100px !important;
  }
}
@media screen and (max-width: 380px) {
  #navbar #menu #menu-itens li:hover a {
    padding: 18px 100px;
  }
  #navbar #menu #contato:hover a {
    padding: 18px 75px !important;
  }
}
@media screen and (max-width: 346px) {
  #navbar #menu #menu-itens li:hover a {
    padding: 18px 85px !important;
  }
  #navbar #menu #contato:hover a {
    padding: 18px 60px;
  }
}
@media screen and (max-width: 325px) {
  #navbar #menu #menu-itens li:hover a {
    padding: 18px 85px;
  }
  #navbar #menu #contato:hover a {
    padding: 18px 60px !important;
  }
}
@media screen and (max-width: 315px) {
  #navbar #menu #contato:hover a {
    padding: 18px 50px !important;
  }
}
#header {
  width: 100%;
  display: block;
  height: 750px;
  overflow: hidden;
  padding: 0 !important;
  position: relative;
}
#header #opac {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7098039216);
  position: absolute;
  padding: 0 10%;
  height: 100%;
  width: 100%;
}
#header #opac #descricao h2 {
  color: #fff;
  text-align: center;
  font-size: calc(50px + 1vw);
}
#header #opac #descricao p {
  padding: 50px 50px;
  text-align: center;
  font-size: calc(12px + 1vw);
  background: linear-gradient(65deg, #fff, rgb(87, 87, 87), #eee, #fff);
  background-size: 400% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#header #opac #descricao #botao {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#header #opac #descricao #botao .button {
  border: 1px solid #111111;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}
#header #opac #descricao #botao .button a {
  text-decoration: none;
  font-size: 20px;
  color: #111111;
}
#header #opac #descricao #botao .button:nth-of-type(1) {
  background-color: #083b6d;
}
#header #opac #descricao #botao .button:nth-of-type(1) a {
  color: #fff;
}
#header input {
  display: none;
}
#header .slideHeader {
  display: flex;
  height: 100%;
  width: 400%;
}
#header .imge-slide {
  transition: 1s;
  height: 100%;
  width: 25%;
}
#header .imge-slide img {
  height: 100%;
  width: 100%;
}
#header #radio4:checked ~ .slideHeader .primeiro {
  margin-left: 0%;
}
#header #radio5:checked ~ .slideHeader .primeiro {
  margin-left: -25%;
}
#header #radio6:checked ~ .slideHeader .primeiro {
  margin-left: -50%;
}

@media screen and (max-width: 1500px) {
  #header {
    width: 100%;
  }
  #header #opac {
    width: 100%;
    padding: 0 5%;
  }
}
@media screen and (max-width: 1250px) {
  #header {
    height: 650px !important;
  }
}
@media screen and (max-width: 1050px) {
  #header #opac {
    padding: 0 2%;
  }
}
@media screen and (max-width: 700px) {
  #header #opac p {
    padding: 50px 10px !important;
  }
}
@media screen and (max-width: 700px) {
  #header #opac #descricao h2 {
    font-size: calc(40px + 1vw);
  }
}
#sobre {
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  margin: 20px 0;
  height: 660px;
  width: 100%;
}
#sobre h2 {
  font-size: calc(14px + 1vw);
  color: #025;
  margin-bottom: 10px;
  text-align: center;
}
#sobre #hr hr {
  padding: 2px;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: #025;
}
#sobre #sobre-decrition {
  display: flex;
  padding: 0 10%;
  align-items: center;
  justify-content: center;
  height: 47%;
  width: 100%;
  gap: 10px;
}
#sobre #sobre-decrition #sobreNos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 0;
  height: 100%;
  width: 50%;
}
#sobre #sobre-decrition #sobreNos p {
  text-transform: capitalize;
  line-height: 1.5;
  text-align: justify;
  font-size: 20px;
  color: rgb(87, 87, 87);
}
#sobre #sobre-decrition #Img-sobre {
  width: 50%;
  height: 100%;
  background: url("../imagens/father-and-son-2258681_1280.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 300px;
  background-size: cover;
}
#sobre #sobre-decrition #Img-sobre div h3 {
  display: none;
}
#sobre #sobre-decrition #Img-sobre:hover #sobreOpac {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-position-x: 300px;
  background-color: rgba(0, 0, 0, 0.7098039216);
  transition: 1s;
}
#sobre #sobre-decrition #Img-sobre:hover #sobreOpac div {
  transition: 2s;
}
#sobre #sobre-decrition #Img-sobre:hover #sobreOpac div h3 {
  display: block;
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 35px;
  color: #fff;
}
#sobre #saberMais {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 0 10%;
  width: 100%;
  height: 40%;
  gap: 20px;
}
#sobre #saberMais .card {
  height: 100%;
  width: 420px;
  padding: 10px;
  cursor: pointer;
  background-color: #eee;
}
#sobre #saberMais .card .icon i {
  font-size: 50px;
  color: rgb(87, 87, 87);
}
#sobre #saberMais .card h3 {
  margin-top: 5px;
  font-size: 20px;
  color: rgb(87, 87, 87);
}
#sobre #saberMais .card #descricaoMissao {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
#sobre #saberMais .card #descricaoMissao p {
  text-transform: capitalize;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
  color: rgb(87, 87, 87);
}

@media screen and (min-width: 1250px) {
  #sobre {
    height: 760px !important;
    margin-bottom: 0 !important;
  }
  #sobre #hr hr {
    margin-bottom: 25px !important;
  }
  #sobre #sobre-decrition #Img-sobre {
    background-position-x: 300px;
    background-position-y: -180px;
  }
  #sobre #saberMais {
    margin-top: 50px;
    height: 30% !important;
  }
}
@media screen and (max-width: 1249.9px) and (min-width: 915px) {
  #sobre {
    height: 600px !important;
    margin-bottom: 0 !important;
  }
  #sobre #sobre-decrition {
    height: 42%;
  }
  #sobre #sobre-decrition #Img-sobre {
    background-position-y: -120px;
  }
  #sobre #saberMais {
    margin-top: 20px;
    height: 35.7% !important;
  }
}
@media screen and (max-width: 1500px) {
  #sobre {
    height: 625px;
  }
  #sobre #sobre-decrition {
    margin-top: 20px;
    padding: 0 5%;
  }
  #sobre #saberMais {
    height: 39%;
    padding: 0 5%;
  }
  #sobre #saberMais .card {
    height: 100%;
    width: 32.7%;
    padding: 5px;
    cursor: pointer;
    background-color: #eee;
  }
}
@media screen and (max-width: 1050px) {
  #sobre #sobre-decrition {
    padding: 0 2%;
  }
  #sobre #sobre-decrition #Img-sobre {
    background-position-x: 90px;
  }
  #sobre #saberMais {
    padding: 0 2%;
  }
}
@media screen and (max-width: 912px) {
  #sobre {
    height: auto;
  }
  #sobre #sobre-decrition {
    display: block;
    height: 490px;
  }
  #sobre #sobre-decrition #sobreNos {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
  }
  #sobre #sobre-decrition #Img-sobre {
    height: 65%;
    width: 100%;
    background-position: center;
  }
  #sobre #saberMais {
    padding: 0 2%;
  }
}
@media screen and (max-width: 800px) {
  #sobre #saberMais {
    flex-flow: wrap row;
    padding: 0 2%;
    gap: 10px;
  }
  #sobre #saberMais .card:not(:nth-last-child(1)) {
    width: 49.2%;
  }
  #sobre #saberMais .card:nth-last-child(1) {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  #sobre #saberMais {
    margin-top: 25px;
  }
}
@media screen and (max-width: 718px) {
  #sobre #saberMais {
    margin-top: 45px;
  }
}
@media screen and (max-width: 710px) {
  #sobre #saberMais .card:not(:nth-last-child(1)) {
    width: 49%;
  }
  #sobre #saberMais .card:nth-last-child(1) {
    width: 100%;
  }
}
@media screen and (max-width: 620px) {
  #sobre #saberMais {
    margin-top: 60px;
  }
  #sobre #saberMais .card:not(:nth-last-child(1)) {
    height: 250px;
    width: 48.5% !important;
  }
}
@media screen and (max-width: 608px) {
  #sobre #saberMais {
    margin-top: 80px;
  }
}
@media screen and (max-width: 528px) {
  #sobre #saberMais {
    margin-top: 110px;
  }
}
@media screen and (max-width: 480px) {
  #sobre #saberMais {
    margin-top: 140px;
  }
}
@media screen and (max-width: 425px) {
  #sobre #saberMais {
    margin-top: 165px;
  }
}
@media screen and (max-width: 402px) {
  #sobre #saberMais {
    margin-top: 198px;
  }
}
@media screen and (max-width: 395px) {
  #sobre #saberMais .card:not(:nth-last-child(1)) {
    height: 300px;
  }
}
@media screen and (max-width: 367px) {
  #sobre #saberMais {
    margin-top: 230px;
  }
  #sobre #saberMais .card:not(:nth-last-child(1)) {
    height: 300px;
  }
}
@media screen and (max-width: 362px) {
  #sobre #saberMais .card:not(:nth-last-child(1)) {
    width: 47.8% !important;
  }
}
@media screen and (max-width: 339px) {
  #sobre #saberMais {
    margin-top: 270px;
  }
}
@media screen and (max-width: 328px) {
  #sobre #saberMais {
    margin-top: 300px;
  }
}
@media screen and (max-width: 312px) {
  #sobre #saberMais {
    margin-top: 320px;
  }
}
@media screen and (max-width: 307px) {
  #sobre #saberMais {
    margin-top: 320px;
  }
  #sobre #saberMais .card:not(:nth-last-child(1)) {
    height: auto;
    width: 100% !important;
  }
}
@media screen and (max-width: 290px) {
  #sobre #saberMais {
    margin-top: 350px;
  }
}
@media screen and (max-width: 278px) {
  #sobre #saberMais {
    margin-top: 375px;
  }
}
@media screen and (max-width: 243px) {
  #sobre #saberMais {
    margin-top: 410px;
  }
}
#servicos {
  height: 660px;
  margin-top: 5px;
  width: 100%;
}
#servicos h2 {
  font-size: calc(14px + 1vw);
  text-transform: uppercase;
  color: #025;
  margin-bottom: 10px;
  text-align: center;
}
#servicos #hr hr {
  padding: 2px;
  width: 150px;
  margin: 0 auto;
  background-color: #025;
}
#servicos #p {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 20px;
  font-size: calc(8px + 1vw);
  padding: 0 10%;
  color: rgb(87, 87, 87);
}
#servicos .modal {
  display: none;
}
#servicos .modal.active {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7098039216);
  padding: 20px 0 20px 0;
  cursor: pointer;
  height: 100vh;
  width: 100%;
  top: 2px;
  z-index: 1;
}
#servicos .modal.active .modal-header {
  background-color: #fff;
  width: 70%;
  overflow: scroll;
  cursor: pointer;
  padding: 10px;
  height: 100%;
}
#servicos .modal.active .modal-header h3 {
  margin: 40px auto;
  font-size: 25px;
  color: rgb(87, 87, 87);
}
#servicos .modal.active .modal-header p {
  text-align: justify;
  font-size: 18px;
  color: rgb(87, 87, 87);
}
#servicos .modal.active .modal-header #obs {
  text-align: justify;
  font-size: 25px;
  color: rgb(87, 87, 87);
}
#servicos .modal.active .modal-header .bodyServico {
  border: 2px solid rgb(87, 87, 87);
  width: 100%;
  height: auto;
}
#servicos .modal.active .modal-header .bodyServico .detalheModal {
  padding: 5px 10px;
}
#servicos .modal.active .modal-header .bodyServico .detalheModal h3 {
  margin: 10px auto;
  font-size: 25px;
  color: rgb(87, 87, 87);
}
#servicos .modal.active .modal-header .bodyServico .detalheModal p {
  text-align: justify;
  font-size: 18px;
  color: rgb(87, 87, 87);
}
#servicos .modal.active .modal-header .bodyServico .EuQuero {
  padding: 10px 20px;
  background-color: rgb(87, 87, 87);
  border: 1px solid #eee;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 30px;
  cursor: pointer;
  font-size: 19px;
  color: #fff;
}
#servicos .modal.active .modal-header .bodyServico .EuQuero:hover {
  background-color: #fff;
  border-color: rgb(87, 87, 87);
  color: #111111;
}
#servicos .modal2 {
  display: none;
}
#servicos .modal2.active {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7098039216);
  padding: 20px 0 20px 0;
  cursor: pointer;
  height: 100vh;
  width: 100%;
  top: 2px;
  z-index: 1;
}
#servicos .modal2.active #modal2 {
  background-color: #fff;
  width: 70%;
  overflow: scroll;
  cursor: pointer;
  padding: 10px;
  height: 100%;
}
#servicos .modal2.active #modal2 h3 {
  margin: 40px auto;
  font-size: 25px;
  color: rgb(87, 87, 87);
}
#servicos .modal2.active #modal2 p {
  text-align: justify;
  font-size: 18px;
  color: rgb(87, 87, 87);
}
#servicos .modal2.active #modal2 #obs {
  text-align: justify;
  font-size: 25px;
  color: rgb(87, 87, 87);
}
#servicos .modal2.active #modal2 #bodyServico {
  border: 2px solid rgb(87, 87, 87);
  width: 100%;
  height: auto;
}
#servicos .modal2.active #modal2 #bodyServico .detalheModal {
  padding: 5px 10px;
}
#servicos .modal2.active #modal2 #bodyServico .detalheModal h3 {
  margin: 10px auto;
  font-size: 25px;
  color: rgb(87, 87, 87);
}
#servicos .modal2.active #modal2 #bodyServico .detalheModal p {
  text-align: justify;
  font-size: 18px;
  color: rgb(87, 87, 87);
}
#servicos .modal2.active #modal2 #bodyServico #euQuero2 {
  padding: 10px 20px;
  background-color: rgb(87, 87, 87);
  border: 1px solid #eee;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 27px;
  cursor: pointer;
  font-size: 19px;
  color: #fff;
}
#servicos .modal2.active #modal2 #bodyServico #euQuero2:hover {
  background-color: #fff;
  border-color: rgb(87, 87, 87);
  color: #111111;
}
#servicos .modal3 {
  display: none;
}
#servicos .modal3.active {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7098039216);
  padding: 20px 0 20px 0;
  cursor: pointer;
  height: 100vh;
  width: 100%;
  top: 2px;
  z-index: 1;
}
#servicos .modal3.active #modal3 {
  background-color: #fff;
  width: 70%;
  overflow: scroll;
  cursor: pointer;
  padding: 10px;
  height: 100%;
}
#servicos .modal3.active #modal3 h3 {
  margin: 40px auto;
  font-size: 25px;
  color: rgb(87, 87, 87);
}
#servicos .modal3.active #modal3 p {
  text-align: justify;
  font-size: 18px;
  color: rgb(87, 87, 87);
}
#servicos .modal3.active #modal3 #obs {
  text-align: justify;
  font-size: 25px;
  color: rgb(87, 87, 87);
}
#servicos .modal3.active #modal3 #bodyServico {
  border: 2px solid rgb(87, 87, 87);
  width: 100%;
  height: auto;
}
#servicos .modal3.active #modal3 #bodyServico .detalheModal {
  padding: 5px 10px;
}
#servicos .modal3.active #modal3 #bodyServico .detalheModal h3 {
  margin: 10px auto;
  font-size: 25px;
  color: rgb(87, 87, 87);
}
#servicos .modal3.active #modal3 #bodyServico .detalheModal p {
  text-align: justify;
  font-size: 18px;
  color: rgb(87, 87, 87);
}
#servicos .modal3.active #modal3 #bodyServico #euQuero3 {
  padding: 10px 20px;
  background-color: rgb(87, 87, 87);
  border: 1px solid #eee;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 45px;
  cursor: pointer;
  font-size: 19px;
  color: #fff;
}
#servicos .modal3.active #modal3 #bodyServico #euQuero3:hover {
  background-color: #fff;
  border-color: rgb(87, 87, 87);
  color: #111111;
}
#servicos #cards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  margin: 20px 0;
  height: 400px;
  width: 100%;
  gap: 20px;
}
#servicos #cards .slide {
  display: none;
}
#servicos #cards .card {
  width: 420px;
  height: 100%;
  background-color: #eee;
}
#servicos #cards .card #descricao {
  padding: 10px;
}
#servicos #cards .card #descricao h3 {
  left: 0;
  margin: 20px 0;
  font-size: calc(15px + 1vw);
  color: rgb(87, 87, 87);
  font-weight: 900;
}
#servicos #cards .card #descricao p {
  text-align: justify;
  font-size: 20px;
  color: rgb(87, 87, 87);
}
#servicos #cards .card:nth-of-type(1) #img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(87, 87, 87);
  width: 100%;
  height: 200px;
}
#servicos #cards .card:nth-of-type(1) #img .imagem {
  width: 50%;
  height: 100%;
  background: url("../imagens/JavaScript frameworks-amico.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 5s all;
}
#servicos #cards .card:nth-of-type(1) #img .imagem:hover {
  transition: 5s all;
  background: url("../imagens/JavaScript frameworks-amico.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
#servicos #cards .card:nth-of-type(1) .spread {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #083b6d;
  border: 1px solid #111111;
  transform-origin: center;
  border-radius: 100px;
  padding-bottom: 13px;
  transition: 0.5s all;
  margin-right: 10px;
  margin-top: -20px;
  font-size: 30px;
  color: #fff;
  float: right;
  z-index: 5;
}
#servicos #cards .card:nth-of-type(1) .spread:hover {
  background: linear-gradient(-45deg, #025, #fff, rgb(87, 87, 87));
  transform: rotate(150deg);
  color: #025;
  padding-bottom: 19px;
  transition: 0.5s all;
  cursor: pointer;
}
#servicos #cards .card:nth-of-type(2) #img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(87, 87, 87);
  width: 100%;
  height: 200px;
}
#servicos #cards .card:nth-of-type(2) #img .imagem {
  width: 50%;
  height: 100%;
  background: url("../imagens/Online Groceries-amico.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 5s all;
}
#servicos #cards .card:nth-of-type(2) #img .imagem:hover {
  transition: 5s all;
  background: url("../imagens/Online Groceries-amico.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
#servicos #cards .card:nth-of-type(2) #spread2 {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #083b6d;
  border: 1px solid #111111;
  transform-origin: center;
  border-radius: 100px;
  padding-bottom: 13px;
  transition: 0.5s all;
  margin-right: 10px;
  margin-top: -20px;
  font-size: 30px;
  color: #fff;
  float: right;
  z-index: 5;
}
#servicos #cards .card:nth-of-type(2) #spread2:hover {
  background: linear-gradient(-45deg, #025, #fff, rgb(87, 87, 87));
  transform: rotate(150deg);
  color: #025;
  padding-bottom: 19px;
  transition: 0.5s all;
  cursor: pointer;
}
#servicos #cards .card:nth-of-type(3) #img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(87, 87, 87);
  height: 200px;
  width: 100%;
}
#servicos #cards .card:nth-of-type(3) #img .imagem {
  width: 50%;
  height: 100%;
  background: url("../imagens/Programmer-amico.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 5s all;
}
#servicos #cards .card:nth-of-type(3) #img .imagem:hover {
  transition: 5s all;
  background: url("../imagens/Programmer-amico.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
#servicos #cards .card:nth-of-type(3) #spread3 {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #083b6d;
  border: 1px solid #111111;
  transform-origin: center;
  border-radius: 100px;
  padding-bottom: 13px;
  transition: 0.5s all;
  margin-right: 10px;
  margin-top: -20px;
  font-size: 30px;
  color: #fff;
  float: right;
  z-index: 5;
}
#servicos #cards .card:nth-of-type(3) #spread3:hover {
  background: linear-gradient(-45deg, #025, #fff, rgb(87, 87, 87));
  transform: rotate(150deg);
  color: #025;
  padding-bottom: 19px;
  transition: 0.5s all;
  cursor: pointer;
}
#servicos #slide {
  display: none;
}
#servicos .modal-paleta {
  display: none;
}
#servicos .modal-paleta.activePaleta {
  display: flex;
  position: fixed;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7098039216);
  padding: 20px 0 20px 0;
  cursor: pointer;
  height: 99.9vh;
  width: 100%;
  top: 2px;
  z-index: 1;
}
#servicos .modal-paleta.activePaleta .close {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: end;
  margin-right: 20px;
  position: absolute;
  z-index: 1.5;
}
#servicos .modal-paleta.activePaleta .close #btn-close {
  cursor: pointer;
  background-color: rgb(228, 23, 23);
  border: 1px solid #111111;
  height: 30px;
  width: 30px;
}
#servicos .modal-paleta.activePaleta .close #btn-close:hover {
  background-color: #f00;
  box-shadow: 1px 3px 12px #f00;
  border-color: #f00;
  color: #fff;
}
#servicos .modal-paleta.activePaleta .paleta-modal {
  display: flex;
  justify-content: center;
  width: 100%;
}
#servicos .modal-paleta.activePaleta .paleta-modal .new-paleta {
  height: 55%;
  width: 90%;
  overflow: auto;
  margin-top: 65px;
}
#servicos .modal-paleta.activePaleta .paleta-modal .new-paleta .subModal-Palete {
  width: 100%;
  padding: 5px;
  text-align: start;
  background-color: #eee;
  box-shadow: 1px 3px 8px rgb(87, 87, 87);
}
#servicos .modal-paleta.activePaleta .paleta-modal .new-paleta .subModal-Palete h3 {
  margin-top: 2px;
  border-bottom: 1px solid rgb(87, 87, 87);
  width: 100%;
  color: rgb(87, 87, 87);
}
#servicos .modal-paleta.activePaleta .paleta-modal .new-paleta .subModal-Palete .precos {
  display: flex;
  padding: 0 10px;
  margin-top: 20px;
  flex-flow: row wrap;
  gap: 20px;
}
#servicos .modal-paleta.activePaleta .paleta-modal .new-paleta .subModal-Palete .precos .preco {
  flex: 100;
}
#servicos .modal-paleta.activePaleta .paleta-modal .new-paleta .subModal-Palete .precos .preco h4 {
  margin-bottom: 10px;
}
#servicos .modal-paleta.activePaleta .paleta-modal .new-paleta .subModal-Palete .precos .preco ul {
  list-style: none;
  padding-right: 20px;
  line-height: 3;
}
#servicos .modal-paleta.activePaleta .paleta-modal .new-paleta .subModal-Palete .precos .preco ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(87, 87, 87);
  width: 100%;
}
#servicos .modal-paleta.activePaleta .paleta-modal .new-paleta .subModal-Palete .precos .preco ul li h5 {
  color: rgb(87, 87, 87);
}
#servicos .modal-paleta.activePaleta .paleta-modal .new-paleta .subModal-Palete .precos .preco .btn-contrato {
  display: flex;
  justify-content: center;
  width: 100%;
}
#servicos .modal-paleta.activePaleta .paleta-modal .new-paleta .subModal-Palete .precos .preco .btn-contrato button {
  cursor: pointer;
  margin-top: 10px;
  background-color: #083b6d;
  border: 1px solid #111111;
  color: #eee;
  border-radius: 5px;
  padding: 8px 5px;
  transition: 0.2s;
}
#servicos .modal-paleta.activePaleta .paleta-modal .new-paleta .subModal-Palete .precos .preco .btn-contrato button:hover {
  color: #025;
  background-color: #eee;
}
#servicos .paletas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px !important;
  height: 50px;
  width: 100%;
}
#servicos .paletas .paleta-precario {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 100%;
}
#servicos .paletas .paleta-precario .btn-paleta {
  background-color: #083b6d;
  border: 1px solid rgba(0, 0, 0, 0.7098039216);
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
#servicos .paletas .paleta-precario .btn-paleta h3 {
  color: #eee;
  font-size: 20px;
}
#servicos .paletas .paleta-precario .btn-paleta:hover {
  background: #025;
  color: #fff;
}

@media screen and (max-width: 1500px) {
  #servicos #p {
    padding: 0 5%;
  }
  #servicos #cards {
    padding: 0 5%;
  }
}
@media screen and (min-width: 1250px) {
  #servicos {
    height: 750px;
  }
  #servicos #hr hr {
    margin-bottom: 50px !important;
    margin: 0 auto;
  }
  #servicos #cards {
    margin-bottom: 10px !important;
    height: 420px !important;
  }
  #servicos #cards .slide {
    display: none;
  }
  #servicos #cards .card {
    height: 100%;
    background-color: #eee;
  }
  #servicos #cards .card:nth-of-type(1) #img {
    width: 100%;
    height: 200px;
    background: url("../imagens/istockphoto-1325074732-612x612.jpg");
    background-color: rgb(87, 87, 87);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 5s all;
  }
  #servicos #cards .card:nth-of-type(1) #img:hover {
    background: url("../imagens/istockphoto-1325074732-612x612.jpg");
    background-repeat: no-repeat;
    background-position: center;
    transition: 5s all;
    cursor: pointer;
  }
  #servicos #cards .card:nth-of-type(1) .spread {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #083b6d;
    border: 1px solid #111111;
    transform-origin: center;
    border-radius: 100px;
    padding-bottom: 13px;
    transition: 0.5s all;
    margin-right: 10px;
    margin-top: -20px;
    font-size: 30px;
    color: #fff;
    float: right;
    z-index: 5;
  }
  #servicos #cards .card:nth-of-type(1) .spread:hover {
    background: linear-gradient(-45deg, #025, #fff, rgb(87, 87, 87));
    transform: rotate(150deg);
    color: #025;
    padding-bottom: 19px;
    transition: 0.5s all;
    cursor: pointer;
  }
  #servicos #cards .card:nth-of-type(2) #img {
    width: 100%;
    height: 200px;
    background: url("../imagens/istockphoto-1394297245-612x612.jpg");
    background-color: rgb(87, 87, 87);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 5s all;
  }
  #servicos #cards .card:nth-of-type(2) #img:hover {
    background: url("../imagens/istockphoto-1305224036-612x612.jpg");
    background-repeat: no-repeat;
    background-position: center;
    transition: 5s all;
    cursor: pointer;
  }
  #servicos #cards .card:nth-of-type(2) #spread2 {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #083b6d;
    border: 1px solid #111111;
    transform-origin: center;
    border-radius: 100px;
    padding-bottom: 13px;
    transition: 0.5s all;
    margin-right: 10px;
    margin-top: -20px;
    font-size: 30px;
    color: #fff;
    float: right;
    z-index: 5;
  }
  #servicos #cards .card:nth-of-type(2) #spread2:hover {
    background: linear-gradient(-45deg, #025, #fff, rgb(87, 87, 87));
    transform: rotate(150deg);
    color: #025;
    padding-bottom: 19px;
    transition: 0.5s all;
    cursor: pointer;
  }
  #servicos #cards .card:nth-of-type(3) #img {
    width: 100%;
    height: 200px;
    background: url("../imagens/istockphoto-1345532280-612x612.jpg");
    background-color: rgb(87, 87, 87);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 5s all;
  }
  #servicos #cards .card:nth-of-type(3) #img:hover {
    background: url("../imagens/istockphoto-1325074732-612x612.jpg");
    background-repeat: no-repeat;
    background-position: center;
    transition: 5s all;
    cursor: pointer;
  }
  #servicos #cards .card:nth-of-type(3) #spread3 {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #083b6d;
    border: 1px solid #111111;
    transform-origin: center;
    border-radius: 100px;
    padding-bottom: 13px;
    transition: 0.5s all;
    margin-right: 10px;
    margin-top: -20px;
    font-size: 30px;
    color: #fff;
    float: right;
    z-index: 5;
  }
  #servicos #cards .card:nth-of-type(3) #spread3:hover {
    background: linear-gradient(-45deg, #025, #fff, rgb(87, 87, 87));
    transform: rotate(150deg);
    color: #025;
    padding-bottom: 19px;
    transition: 0.5s all;
    cursor: pointer;
  }
  #servicos .paletas {
    margin-top: 50px !important;
  }
}
@media screen and (max-width: 1249.9px) and (min-width: 918px) {
  #servicos {
    height: 600px;
  }
  #servicos #hr hr {
    margin-bottom: 2px !important;
    margin: 0 auto;
  }
  #servicos #cards {
    margin-bottom: 0 !important;
    height: 360px !important;
    gap: 15px;
  }
  #servicos #cards .slide {
    display: none;
  }
  #servicos #cards .card #descricao {
    padding: 5px;
  }
  #servicos #cards .card #descricao h3 {
    margin: 10px 0 15px 0;
  }
  #servicos #cards .card #descricao p {
    font-size: 20px;
  }
  #servicos #cards .card:nth-of-type(1) #img {
    height: 170px;
  }
  #servicos #cards .card:nth-of-type(2) #img {
    height: 170px;
  }
  #servicos #cards .card:nth-of-type(3) #img {
    height: 170px;
  }
  #servicos .paletas {
    margin-top: 5px;
  }
}
@media screen and (max-width: 1050px) {
  #servicos p {
    padding: 0 2%;
  }
  #servicos .modal.active #modal {
    width: 80% !important;
  }
  #servicos .modal2.active #modal2 {
    width: 80% !important;
  }
  #servicos .modal3.active #modal3 {
    width: 80% !important;
  }
  #servicos #cards {
    padding: 0 2%;
  }
  #servicos #cards .card {
    width: 329.5px;
  }
}
@media screen and (max-width: 801px) {
  #servicos .modal.active .modal-header {
    width: 88% !important;
  }
  #servicos .modal2.active #modal2 {
    width: 88% !important;
  }
  #servicos .modal3.active #modal3 {
    width: 88% !important;
  }
}
@media screen and (max-width: 917.5px) {
  #servicos {
    overflow: hidden;
  }
  #servicos #cards {
    display: none;
  }
  #servicos #slide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 360px;
    width: 150%;
  }
  #servicos #slide input {
    display: none;
  }
  #servicos #slide .cardslide {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    height: 100%;
    width: 100%;
    gap: 20px;
  }
  #servicos #slide .cardslide .card {
    width: 430px;
    height: 100%;
    background-color: #eee;
    transition: 0.5s all;
  }
  #servicos #slide .cardslide .card .spread4,
  #servicos #slide .cardslide .card .spread5,
  #servicos #slide .cardslide .card .spread6 {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #083b6d;
    border: 1px solid #111111;
    transform-origin: center;
    border-radius: 100px;
    padding-bottom: 13px;
    margin-right: 10px;
    margin-top: -20px;
    font-size: 30px;
    color: #fff;
    float: right;
    z-index: 5;
  }
  #servicos #slide .cardslide .card .descricao {
    padding: 10px;
  }
  #servicos #slide .cardslide .card .descricao h3 {
    left: 0;
    margin: 20px 0;
    font-size: calc(15px + 1vw);
    color: rgb(87, 87, 87);
    font-weight: 900;
  }
  #servicos #slide .cardslide .card .descricao p {
    text-align: justify;
    font-size: 20px;
    color: rgb(87, 87, 87);
  }
  #servicos #slide .cardslide .card:nth-of-type(1) #img4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(87, 87, 87);
    width: 100%;
    height: 200px;
  }
  #servicos #slide .cardslide .card:nth-of-type(1) #img4 .imagem {
    width: 60%;
    height: 100%;
    background: url("../imagens/JavaScript frameworks-amico.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 5s all;
  }
  #servicos #slide .cardslide .card:nth-of-type(1) #img4 .imagem:hover {
    transition: 5s all;
    background: url("../imagens/JavaScript frameworks-amico.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  #servicos #slide .cardslide .card:nth-of-type(2) #img5 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(87, 87, 87);
    width: 100%;
    height: 200px;
  }
  #servicos #slide .cardslide .card:nth-of-type(2) #img5 .imagem {
    width: 60%;
    height: 100%;
    background: url("../imagens/Online Groceries-amico.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 5s all;
  }
  #servicos #slide .cardslide .card:nth-of-type(2) #img5 .imagem:hover {
    transition: 5s all;
    background: url("../imagens/Online Groceries-amico.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  #servicos #slide .cardslide .card:nth-of-type(3) #img6 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(87, 87, 87);
    height: 200px;
    width: 100%;
  }
  #servicos #slide .cardslide .card:nth-of-type(3) #img6 .imagem {
    width: 60%;
    height: 100%;
    background: url("../imagens/Programmer-amico.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 5s all;
  }
  #servicos #slide .cardslide .card:nth-of-type(3) #img6 .imagem:hover {
    transition: 5s all;
    background: url("../imagens/Programmer-amico.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  #servicos #slide #radio1:checked ~ .div_auto .btn_auto:nth-of-type(1), #servicos #slide #radio2:checked ~ .div_auto .btn_auto:nth-of-type(2), #servicos #slide #radio3:checked ~ .div_auto .btn_auto:nth-of-type(3) {
    background-color: #025;
  }
  #servicos #slide #radio1:checked ~ .cardslide .primeiro {
    margin-left: 1%;
  }
  #servicos #slide #radio2:checked ~ .cardslide .primeiro {
    margin-left: -430px;
  }
  #servicos #slide #radio3:checked ~ .cardslide .primeiro {
    margin-left: -975px;
  }
  #servicos .modal-paleta.activePaleta .new-paleta {
    width: 95%;
  }
  #servicos .paletas {
    margin-top: 60px !important;
  }
}
@media screen and (max-width: 769px) {
  #servicos .modal-paleta.activePaleta .new-paleta {
    width: 95%;
  }
  #servicos .modal-paleta.activePaleta .new-paleta .subModal-Palete .precos {
    flex-direction: column !important;
  }
  #servicos .modal-paleta.activePaleta .new-paleta .subModal-Palete .precos .preco {
    width: 100% !important;
    margin-bottom: 30px;
  }
  #servicos .modal-paleta.activePaleta .new-paleta .subModal-Palete .precos .preco h4 {
    background-color: rgba(136, 136, 136, 0.4941176471);
    padding: 20px 5px;
    width: 100%;
  }
}
@media screen and (max-width: 681px) {
  #servicos #slide .cardslide .card {
    width: 400px;
  }
  #servicos #radio1:checked ~ .cardslide .primeiro {
    margin-left: 1%;
  }
  #servicos #radio2:checked ~ .cardslide .primeiro {
    margin-left: -400px;
  }
  #servicos #radio3:checked ~ .cardslide .primeiro {
    margin-left: -930px !important;
  }
}
@media screen and (max-width: 581px) {
  #servicos #slide .cardslide {
    width: 200%;
  }
  #servicos #slide .cardslide .card {
    width: 450px !important;
  }
  #servicos #radio1:checked ~ .cardslide .primeiro {
    margin-left: 20.5% !important;
  }
  #servicos #radio2:checked ~ .cardslide .primeiro {
    margin-left: -280px !important;
  }
  #servicos #radio3:checked ~ .cardslide .primeiro {
    margin-left: -1150px !important;
  }
}
@media screen and (max-width: 571px) {
  #servicos #radio1:checked ~ .cardslide .primeiro {
    margin-left: 21.5% !important;
  }
}
@media screen and (max-width: 551px) {
  #servicos #slide .cardslide {
    width: 500% !important;
  }
  #servicos #slide .cardslide .card:nth-of-type(1),
  #servicos #slide .cardslide .card:nth-of-type(3) {
    width: 523px !important;
  }
  #servicos #slide #radio1:checked ~ .cardslide .primeiro {
    margin-left: 750px !important;
  }
  #servicos #slide #radio2:checked ~ .cardslide .primeiro {
    margin-left: -430px;
  }
  #servicos #slide #radio3:checked ~ .cardslide .primeiro {
    margin-left: -1280px !important;
  }
}
@media screen and (max-width: 529px) {
  #servicos #slide .cardslide {
    width: 500% !important;
  }
  #servicos #slide .cardslide .card:nth-of-type(1),
  #servicos #slide .cardslide .card:nth-of-type(3) {
    width: 485px !important;
  }
  #servicos #slide .cardslide .card:nth-of-type(2) {
    width: 490px !important;
  }
  #servicos #slide #radio1:checked ~ .cardslide .primeiro {
    margin-left: 741px !important;
  }
  #servicos #slide #radio2:checked ~ .cardslide .primeiro {
    margin-left: -250px !important;
  }
  #servicos #slide #radio3:checked ~ .cardslide .primeiro {
    margin-left: -1250px !important;
  }
}
@media screen and (max-width: 498px) {
  #servicos #slide .cardslide {
    gap: 10px;
    width: 500% !important;
  }
  #servicos #slide .cardslide .card:nth-of-type(1),
  #servicos #slide .cardslide .card:nth-of-type(3) {
    width: 460px !important;
  }
  #servicos #slide .cardslide .card:nth-of-type(2) {
    width: 460px !important;
  }
  #servicos #slide #radio1:checked ~ .cardslide .primeiro {
    margin-left: 708px !important;
  }
  #servicos #slide #radio2:checked ~ .cardslide .primeiro {
    margin-left: -227px !important;
  }
  #servicos #slide #radio3:checked ~ .cardslide .primeiro {
    margin-left: -1170px !important;
  }
}
@media screen and (max-width: 466px) {
  #servicos #slide .cardslide {
    gap: 10px;
    width: 500% !important;
  }
  #servicos #slide .cardslide .card:nth-of-type(1),
  #servicos #slide .cardslide .card:nth-of-type(3) {
    width: 440px !important;
  }
  #servicos #slide .cardslide .card:nth-of-type(2) {
    width: 440px !important;
  }
  #servicos #slide #radio1:checked ~ .cardslide .primeiro {
    margin-left: 675px !important;
  }
  #servicos #slide #radio2:checked ~ .cardslide .primeiro {
    margin-left: -227px !important;
  }
  #servicos #slide #radio3:checked ~ .cardslide .primeiro {
    margin-left: -1122px !important;
  }
}
@media screen and (max-width: 448px) {
  #servicos #slide .cardslide {
    gap: 10px;
    width: 500% !important;
  }
  #servicos #slide .cardslide .card:nth-of-type(1),
  #servicos #slide .cardslide .card:nth-of-type(3) {
    width: 425px !important;
  }
  #servicos #slide .cardslide .card:nth-of-type(2) {
    width: 425px !important;
  }
  #servicos #slide #radio1:checked ~ .cardslide .primeiro {
    margin-left: 655px !important;
  }
  #servicos #slide #radio2:checked ~ .cardslide .primeiro {
    margin-left: -212px !important;
  }
  #servicos #slide #radio3:checked ~ .cardslide .primeiro {
    margin-left: -1088px !important;
  }
}
@media screen and (max-width: 400px) {
  #servicos #slide .cardslide {
    width: 500% !important;
  }
  #servicos #slide .cardslide .card:nth-of-type(1),
  #servicos #slide .cardslide .card:nth-of-type(3) {
    width: 363px !important;
  }
  #servicos #slide .cardslide .card:nth-of-type(2) {
    width: 365.5px !important;
  }
  #servicos #slide #radio1:checked ~ .cardslide .primeiro {
    margin-left: 557px !important;
  }
  #servicos #slide #radio2:checked ~ .cardslide .primeiro {
    margin-left: -190px !important;
  }
  #servicos #slide #radio3:checked ~ .cardslide .primeiro {
    margin-left: -940px !important;
  }
}
@media screen and (max-width: 394px) {
  #servicos #slide .cardslide {
    width: 500% !important;
  }
  #servicos #slide .cardslide .card:nth-of-type(1),
  #servicos #slide .cardslide .card:nth-of-type(3) {
    width: 378px !important;
  }
  #servicos #slide .cardslide .card:nth-of-type(2) {
    width: 380.5px !important;
  }
  #servicos #slide #radio1:checked ~ .cardslide .primeiro {
    margin-left: 578px !important;
  }
  #servicos #slide #radio2:checked ~ .cardslide .primeiro {
    margin-left: -195px !important;
  }
  #servicos #slide #radio3:checked ~ .cardslide .primeiro {
    margin-left: -975px !important;
  }
}
@media screen and (max-width: 376px) {
  #servicos #slide .cardslide {
    width: 500% !important;
  }
  #servicos #slide .cardslide .card:nth-of-type(1),
  #servicos #slide .cardslide .card:nth-of-type(3) {
    width: 360px !important;
  }
  #servicos #slide .cardslide .card:nth-of-type(2) {
    width: 362.5px !important;
  }
  #servicos #slide #radio1:checked ~ .cardslide .primeiro {
    margin-left: 555px !important;
  }
  #servicos #slide #radio2:checked ~ .cardslide .primeiro {
    margin-left: -190px !important;
  }
  #servicos #slide #radio3:checked ~ .cardslide .primeiro {
    margin-left: -930px !important;
  }
}
@media screen and (max-width: 360px) {
  #servicos #slide .cardslide {
    width: 500% !important;
  }
  #servicos #slide .cardslide .card:nth-of-type(1),
  #servicos #slide .cardslide .card:nth-of-type(3) {
    width: 340px !important;
  }
  #servicos #slide .cardslide .card:nth-of-type(2) {
    width: 342.5px !important;
  }
  #servicos #slide #radio1:checked ~ .cardslide .primeiro {
    margin-left: 521px !important;
  }
  #servicos #slide #radio2:checked ~ .cardslide .primeiro {
    margin-left: -178px !important;
  }
  #servicos #slide #radio3:checked ~ .cardslide .primeiro {
    margin-left: -885px !important;
  }
}
@media screen and (max-width: 345px) {
  #servicos #slide .cardslide {
    width: 500% !important;
  }
  #servicos #slide .cardslide .card:nth-of-type(1),
  #servicos #slide .cardslide .card:nth-of-type(3) {
    width: 320px !important;
  }
  #servicos #slide .cardslide .card:nth-of-type(2) {
    width: 320.5px !important;
  }
  #servicos #slide #radio1:checked ~ .cardslide .primeiro {
    margin-left: 500px !important;
  }
  #servicos #slide #radio2:checked ~ .cardslide .primeiro {
    margin-left: -160px !important;
  }
  #servicos #slide #radio3:checked ~ .cardslide .primeiro {
    margin-left: -821px !important;
  }
}
@media screen and (max-width: 326px) and (min-width: 313px) {
  #servicos #slide .cardslide {
    width: 500% !important;
  }
  #servicos #slide .cardslide .card {
    height: 100% !important;
  }
  #servicos #slide .cardslide .card:nth-of-type(1),
  #servicos #slide .cardslide .card:nth-of-type(3) {
    width: 308px !important;
  }
  #servicos #slide .cardslide .card:nth-of-type(2) {
    width: 308px !important;
  }
  #servicos #slide #radio1:checked ~ .cardslide .primeiro {
    margin-left: 475px !important;
  }
  #servicos #slide #radio2:checked ~ .cardslide .primeiro {
    margin-left: -160px !important;
  }
  #servicos #slide #radio3:checked ~ .cardslide .primeiro {
    margin-left: -799px !important;
  }
}
@media screen and (max-width: 312px) {
  #servicos #slide .cardslide {
    width: 500% !important;
  }
  #servicos #slide .cardslide .card:nth-of-type(1),
  #servicos #slide .cardslide .card:nth-of-type(3) {
    width: 288px !important;
  }
  #servicos #slide .cardslide .card:nth-of-type(2) {
    width: 288px !important;
  }
  #servicos #slide #radio1:checked ~ .cardslide .primeiro {
    margin-left: 450px !important;
  }
  #servicos #slide #radio2:checked ~ .cardslide .primeiro {
    margin-left: -150px !important;
  }
  #servicos #slide #radio3:checked ~ .cardslide .primeiro {
    margin-left: -741px !important;
  }
}
#projecto {
  margin-bottom: 20px;
  margin-top: 10px;
  height: 850px;
  width: 100%;
}
#projecto h2 {
  font-size: calc(14px + 1vw);
  text-transform: uppercase;
  color: #025;
  margin-bottom: 10px;
  text-align: center;
}
#projecto #hr hr {
  margin: 0 auto;
  padding: 2px;
  width: 150px;
  margin-bottom: 20px;
  background-color: #025;
}
#projecto p {
  font-size: calc(8px + 1vw);
  text-align: center;
  margin: 20px 0;
  padding: 0 10%;
  color: rgb(87, 87, 87);
}
#projecto #cardsH {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(87, 87, 87);
  flex-flow: wrap row;
  padding: 20px 10%;
  margin: 20px 0;
  width: 100%;
  gap: 20px;
}
#projecto #cardsH .card {
  display: flex;
  align-items: center;
  background-color: #eee;
  height: 250px;
  width: 48.5%;
}
#projecto #cardsH .card:nth-of-type(1) #foto {
  width: 40%;
  height: 100%;
  background: url("../imagens/cardsHorizontal/_0f21eef2-dc1d-48a0-b743-7c994b56292b.jfif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#projecto #cardsH .card:nth-of-type(1) #descrição {
  width: 60%;
  height: 100%;
  padding: 0 10px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  display: block;
  line-height: 2;
}
#projecto #cardsH .card:nth-of-type(1) #descrição h3 {
  left: 0;
  color: rgb(87, 87, 87);
  font-weight: 900;
  margin: 5px 0 20px 0;
  font-size: calc(15px + 1vw);
}
#projecto #cardsH .card:nth-of-type(1) #descrição ul {
  list-style: none;
}
#projecto #cardsH .card:nth-of-type(1) #descrição ul li {
  color: rgb(87, 87, 87);
  font-size: 20px;
  line-height: 2;
}
#projecto #cardsH .card:nth-of-type(2) #foto {
  width: 35%;
  height: 100%;
  background: url("../imagens/cardsHorizontal/JovemLoira.jfif");
  background-position-x: -40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#projecto #cardsH .card:nth-of-type(2) #descrição {
  width: 60%;
  height: 100%;
  padding: 0 10px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  display: block;
  line-height: 2;
}
#projecto #cardsH .card:nth-of-type(2) #descrição h3 {
  left: 0;
  color: rgb(87, 87, 87);
  font-weight: 900;
  margin: 5px 0 20px 0;
  font-size: calc(15px + 1vw);
}
#projecto #cardsH .card:nth-of-type(2) #descrição ul {
  list-style: none;
}
#projecto #cardsH .card:nth-of-type(2) #descrição ul li {
  color: rgb(87, 87, 87);
  font-size: 20px;
  line-height: 2;
}
#projecto #cardsH .card:nth-of-type(3) #foto {
  width: 40%;
  height: 100%;
  background: url("../imagens/cardsHorizontal/JovenMorena.jfif");
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#projecto #cardsH .card:nth-of-type(3) #descrição {
  width: 60%;
  height: 100%;
  padding: 0 10px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  display: block;
  line-height: 2;
}
#projecto #cardsH .card:nth-of-type(3) #descrição h3 {
  left: 0;
  color: rgb(87, 87, 87);
  font-weight: 900;
  margin: 5px 0 20px 0;
  font-size: calc(15px + 1vw);
}
#projecto #cardsH .card:nth-of-type(3) #descrição ul {
  list-style: none;
}
#projecto #cardsH .card:nth-of-type(3) #descrição ul li {
  color: rgb(87, 87, 87);
  font-size: 20px;
  line-height: 2;
}
#projecto #cardsH .card:nth-of-type(4) #foto {
  width: 35%;
  height: 100%;
  background: url("../imagens/cardsHorizontal/senhora.jfif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#projecto #cardsH .card:nth-of-type(4) #descrição {
  width: 60%;
  height: 100%;
  padding: 0 10px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  line-height: 2;
  display: block;
}
#projecto #cardsH .card:nth-of-type(4) #descrição h3 {
  left: 0;
  color: rgb(87, 87, 87);
  font-weight: 900;
  margin: 5px 0 20px 0;
  font-size: calc(15px + 1vw);
}
#projecto #cardsH .card:nth-of-type(4) #descrição ul {
  list-style: none;
}
#projecto #cardsH .card:nth-of-type(4) #descrição ul li {
  color: rgb(87, 87, 87);
  font-size: 20px;
  line-height: 2;
}

@media screen and (max-width: 1500px) {
  #projecto {
    height: 690px;
  }
  #projecto p {
    padding: 0 5%;
  }
  #projecto #cardsH {
    padding: 20px 5%;
    gap: 10px;
  }
  #projecto #cardsH .card {
    display: flex;
    align-items: center;
    background-color: #eee;
    height: 250px;
    width: 49%;
  }
}
@media screen and (max-width: 1050px) {
  #projecto p {
    padding: 0 2%;
  }
  #projecto #cardsH {
    flex-flow: wrap row;
    padding: 0 2%;
  }
  #projecto #cardsH .card {
    width: 49%;
  }
}
@media screen and (max-width: 912px) {
  #projecto {
    height: auto;
    width: 100%;
  }
  #projecto #cardsH {
    gap: 10px;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
  }
  #projecto #cardsH .card {
    width: 97%;
    border: 1px solid #111111;
    border-radius: 0 10px 0 0;
    animation: identifier 1ms ease-in-out;
    animation-timeline: view();
    animation-range: 0 40%;
  }
  #projecto #cardsH .card:nth-of-type(2) #foto {
    width: 40% !important;
  }
  #projecto #cardsH .card:nth-of-type(4) #foto {
    width: 40% !important;
  }
  @keyframes identifier {
    from {
      translate: -100% 0;
      opacity: 0;
    }
    to {
      opacity: 1;
      translate: 0 0;
    }
  }
}
@media screen and (max-width: 374px) {
  #projecto #cardsH .card {
    height: 270px;
  }
}
#newsLetter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
  height: 200px;
  width: 100%;
}
#newsLetter #news {
  line-height: 2;
  text-align: center;
}
#newsLetter #news h2 {
  font-size: calc(14px + 1vw);
  text-transform: uppercase;
  color: #025;
  text-align: center;
  margin-top: 20px;
}
#newsLetter #news p {
  font-size: 19px;
}
#newsLetter #imputNews {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  gap: 2px;
}
#newsLetter #imputNews input {
  width: 500px;
  border: 1px solid #111111;
  border-radius: 5px;
  height: 50px;
}
#newsLetter #imputNews button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #111111;
  background-color: rgb(87, 87, 87);
  transition: 0.5s all;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
}
#newsLetter #imputNews button:hover {
  background-color: #eee;
  color: #111111;
  transition: 0.5s all;
}
#newsLetter #politica {
  text-align: center;
  margin-top: 10px;
  font-size: 19px;
}

@media screen and (max-width: 770px) {
  #newsLetter #news {
    padding: 0 2%;
  }
}
#footer {
  width: 100%;
  height: 360px;
  padding-top: 20px;
  background: linear-gradient(to bottom, #083b6d, #025);
}
#footer #linksRapidos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  height: 80%;
  width: 100%;
  gap: 20px;
}
#footer .links {
  width: 300px;
  height: 95%;
}
#footer .links:nth-of-type(1) {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
#footer .links:nth-of-type(1) h1 {
  color: rgb(87, 87, 87);
  font-size: 30px;
  font-weight: bold;
}
#footer .links:nth-of-type(2) h3 {
  font-size: 25px;
  margin-top: 20px;
}
#footer .links:nth-of-type(2) ul {
  padding: 20px 0;
}
#footer .links:nth-of-type(2) ul li {
  list-style: none;
  padding: 8px 0;
}
#footer .links:nth-of-type(2) ul li a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(87, 87, 87);
}
#footer .links:nth-of-type(2) ul li a:hover {
  color: #fff;
}
#footer .links:nth-of-type(3) h3 {
  font-size: 25px;
  margin-top: 20px;
}
#footer .links:nth-of-type(3) ul {
  padding: 20px 0;
}
#footer .links:nth-of-type(3) ul li {
  list-style: none;
  padding: 8px 0;
}
#footer .links:nth-of-type(3) ul li a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(87, 87, 87);
}
#footer .links:nth-of-type(3) ul li a:hover {
  color: #fff;
}
#footer .links:nth-of-type(4) h3 {
  font-size: 25px;
  margin-top: 20px;
}
#footer #copy {
  padding: 10px;
  color: #fff;
  font-size: 19px;
  margin-top: 20px;
  text-align: center;
  border-top: 2px solid #fff;
}
#footer .topo {
  background-color: rgb(87, 87, 87);
  border: 1px solid #111111;
  border-radius: 50%;
  position: fixed;
  height: 50px;
  padding: 5px;
  bottom: 20px;
  right: -50px;
  width: 50px;
}
#footer .topo a {
  width: 100%;
}
#footer .showTopo {
  right: 50px !important;
}

@media screen and (max-width: 1500px) {
  #footer #linksRapidos {
    padding: 0 5%;
  }
}
@media screen and (max-width: 1050px) {
  #footer #linksRapidos {
    padding: 0 2%;
  }
}
@media screen and (max-width: 784px) {
  #footer {
    height: auto;
  }
  #footer #linksRapidos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #footer #linksRapidos #logoFooter {
    display: block;
    text-align: center;
  }
  #footer #linksRapidos .links {
    display: none;
  }
  #footer #linksRapidos .links ul {
    display: none;
  }
  #footer #linksRapidos .links ul li a {
    font-size: 25px;
  }
}/*# sourceMappingURL=style.css.map */
