*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 7.20em;
}
@import'./cores';
@import'./navbar';
@import'./header';
@import './sobre';
@import'../sass/servicos';
@import'../sass/projecto';
@import'../sass/newsLetter';
@import'../sass/footer';

