 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 4.70em;
    font-family: poppins;
}
body{
    overflow-x: hidden !important;
}
@import'./cores';
@import'./navbar';
@import'./header';
@import './sobre';
@import'../sass/servicos';
@import'../sass/projecto';
@import'../sass/newsLetter';
@import'../sass/footer';

